.section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.padded-group {
  padding: 13px 20px;
}

.peers {
  display: inline-block;
  position: relative;
  padding: 0px 16px;
}

.metadata {
  border-left: 1px solid #e4e4e4;
  font-size: 13px;
  line-height: 1.3;
  padding: 15px 20px;
  color: var(--theme-colour-primary-shade-1, #777777);
}

.metadata-emphasis {
  color: var(--theme-colour-primary, #000000);
}