.dropdown {
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border-radius: 4px;
  box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}

.dropdown-tooltip:before {
  bottom: -20px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-top-color: #e4e4e4;
  border-width: 10px;
}

.dropdown-tooltip-left:before {
  left: 20px;
}

.dropdown-tooltip-right:before {
  right: 20px;
}

.dropdown-item {
  border-radius: 4px;
  font-family: var(--theme-font-family, sans-serif);
  color: var(--theme-colour-primary, #000000);
  padding: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: var(--theme-colour-background-shade-3, #EEEEEE);
  color: var(--theme-colour-primary, #000000);
}

.dropdown-item-active {
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #ffffff);
}
