.container {
  display: inline-block;
  position: relative;
}

.prompt {
  position: absolute;
  bottom: 100%;
  min-width: 200px;
}

.prompt-left {
  left: 0;
  margin-right: -175px;
  margin-bottom: 10px;
}

.prompt-right {
  right: 0;
  margin-left: -175px;
}
