.container {
  font-family: var(--theme-font-family, sans-serif);
  text-align: center;
  position: absolute;
  top: 50%;
  top: 50vh;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.title {
  color: var(--theme-colour-primary, #000000);
  font-weight: bold;
  font-size: 32px;
}

.subtitle {
  color: var(--theme-colour-primary-shade-1, #777777);
  margin-top: 15px;
}

.children {
  margin-top: 40px;
}
