.column {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.item {
  position: relative;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 15px;
  line-height: 1.1em;
  overflow: hidden;
  cursor: pointer; 
  font-family: var(--theme-font-family, sans-serif);
  border-radius: 4px;
  z-index: 1; /* http://stackoverflow.com/a/24056662 */
}

.item-image-holder {
  position: relative;
  height: 0;
  overflow: hidden;
}

.item-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform: scale(1);
  z-index: 0; /* http://stackoverflow.com/a/24056662 */
}

.item:hover .item-image {
  transform: scale(1.05);
}

.item-select {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.8), transparent);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: var(--theme-colour-secondary, #FFFFFF);
  padding: 10px 15px 30px;
}

.item-filename {
  word-wrap: break-word;
  margin-right: 20px;
}

.item-info {
  font-size: 13px;
  padding: 11px 15px;
}

.item-selected .item-info {
  background-color: #475160;
  color: var(--theme-colour-secondary, #FFFFFF);
}