.wrapper {
  align-items: center;
  display: flex;
  font-family: var(--theme-font-family, sans-serif);
  justify-content: center;
  margin: 30px 0;
}

.wrapper > * + * {
  margin-left: 10px;
}

.separator {
  color: var(--theme-colour-primary-shade-1, #777777);
}

.droparea {
  border-radius: 0;
  border-bottom: 1px solid #eaeaea;
}