// ***************************
// Cards

.card {
	padding: $margin;
	box-shadow: 0 0 0 2px rgba($black,0.02);
	border: 1px solid $bdr-grey;
	border-radius: $radius;
	position: relative;
	margin-bottom: $margin * 1.5;
	background-color: #fff;
	@extend .cf;

	> a {
		display: block;
	}

	&--visual {
		border: 0;
		background: #17273F;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		overflow: hidden;
		box-shadow: 0 0 0 2px rgba($black,0.1);
	}

	&__status {
		position: absolute;
		top: 0; bottom: 0; left: 0;
		display: block;
		width: 4px;
		border-radius: 3px 0 0 3px;
		z-index: 2;
	}


	&__header {
		padding: 0 10px;
	}
	&__footer {
		padding: 15px 10px;
		margin-top: 10px;
		margin-bottom: -15px;
		border-top: 1px dotted $bdr-grey;
		border-radius: 0 0 3px 3px;
	}

	&__image {
		position: absolute;
		top: -10px; right: -10px; bottom: -10px; left: -10px;
		z-index: 0;
		background-size: 100%;
		background-size: cover;
		opacity: 0.3;
		transition: all 0.1s ease-in-out;
		filter: blur(2px);
	}

	&__header,
	&__footer {
		position: relative;
	}

	&__footer { z-index: 1; }

	&__desc {
		margin-bottom: 5px;
	}

	&__desc {
		line-height: 20px;
	}

	&--visual {
		.card__header {
			border-bottom: 1px solid rgba(255,255,255,0.2);
		}
		input {
			color: #fff;
		}
	}

	&:hover {
		.card__image {
			transform: scale(1.1);
			filter: blur(0px);
		}
		.card__note {
			opacity: 1;
		}
	}
}
