.is-dragging,
.is-positioning-post-drag {
	opacity: 0.9;
	z-index: 11;
}

.packery-drop-placeholder {
	border-radius: $radius;
	outline-offset: -6px;
	transition: transform 0.2s;
	display: block;
	background: rgba($blue,0.2);
	height: 30px !important;
	margin-top: -15px;
	position: relative;
}