.dadiFilter {
	background: #fff;
	padding-right: 87px;

	&__item {
		padding-top: $margin;
		padding-bottom: $margin;
		position: relative;
	}

	&__controls {
		position: absolute;
		left: 100%;
		top: 0;
		white-space: nowrap;
	}

	&__add,
	&__remove {
		padding: 23px 5px;
	}
	&__add:hover 		{ color: $green; }
	&__remove:hover 	{ color: $red; }

	fieldset {
		border: 0;
		margin: 0;
		padding: 0;

		&[disabled] {
			display: none;
		}
	}
}