// ***************************
// Selectize.js: https://github.com/selectize/selectize.js

@import "~selectize/dist/css/selectize.css";

.selectize-input input { height: auto !important; }
.selectize-input {
	border: 1px solid $bdr-grey;
	box-shadow: 0 0 0 2px rgba($black,0.02);
	background-color: #fff;
	padding: 5px 10px;
	min-height: 39px;
	line-height: 28px;

	&.disabled {
		cursor: not-allowed;
	}
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
	@extend .epsilon;
}
.selectize-control {
	min-height: 39px;
}
.selectize-input.input-active {
	box-shadow: 0 0 0 4px rgba($blue,0.1);
	border-color: $blue;
	color: #404040;
}
.selectize-dropdown {
	border-color: $blue;
	width: auto !important;
	right: 0px;

	.optgroup-header {
		color: #fff;
		font-weight: bold;
		background: $blue;
	}
}
.selectize-dropdown [data-selectable].option-disabled {
  color: #aaa;
  cursor: default;
  cursor: not-allowed;
  pointer-events: none;
}
.selectize-control.multi .selectize-input>div {
	line-height: normal;
	border-radius: $radius;
	background-color: $user-accent;
	color: #fff;
	top: -1px;
    position: relative;
}

.selectize-control.loading::before {
  opacity: 0.5;
}

.selectize-control::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  z-index: 2;
  position: absolute;
  display: block;
  top: 50%;
  right: 34px;
  width: 16px;
  height: 16px;
  margin: -10px 0 0 0;
  font-family: "FontAwesome";
  content: "\f110";
  animation: spin 1s linear infinite both;
  opacity: 0;
}

// ***************************
// Tooltips: https://kazzkiq.github.io/balloon.css/
// Usage: <button data-balloon="Whats up!" data-balloon-pos="[up|down|left|right]">Hover me!</button>

@import "~balloon-css/balloon.css";

// ***************************
// Buttons

.btn {
	line-height: 1.25;
	font-weight: bolder;
	padding: 8px 20px;
	display: inline-block;
	text-align: center;
	border-radius: $radius;
	word-wrap: break-word;
	border: 0;
	color: #fff;
	letter-spacing: -0.02em;
	transition: background 0.1s;
	position: relative;
	outline: none;
	cursor: pointer;
	box-shadow: inset 0 -1px 0 rgba($black,0.1);

	&.delta, &.bs-delta {
		padding: 4px 10px;
		vertical-align: middle;
	}
}
.btn {
	background: #fff;
	color: #000;
	border: 1px solid rgba($black,0.1);

	&:active {
		background: darken($grey,10%);
	}
	&:hover {
		background: $blue;
		color: #fff;
	}
	&:focus {
		box-shadow: 0 0 0 4px rgba($grey,0.2);
	}
	&.on {
		background: $mid-grey;
		color: #fff;
	}

	.icon {
		vertical-align: middle;
		margin-left: 8px;
	}
}
.btn--blue {
	background: $blue;
	color: #fff;

	&:active,&:hover,&:focus {
		background: darken($blue,10%);
	}
}
.btn--warn {
	background: $yellow;
	color: #000;

	&:active,&:hover,&:focus {
		background: darken($yellow,10%);
	}
}
.btn--positive {
	background: $green;
	color: #fff;

	&:active,&:hover,&:focus {
		background: darken($green,10%);
	}
}
.btn--delete, .btn--red {
	background: $red;
	color: #fff;

	&:active,&:hover,&:focus {
		background: darken($red,20%);
	}
}
.btn.btn--disabled,
.btn.btn--disabled:hover
.btn.btn--disabled:active {
	background: #E5E4E4;
	color: $grey;
	cursor: not-allowed;
}

.btn span[class^="ss-"] {
	vertical-align: middle;
	line-height: 100%;
}

.btn--full-width {
	display: block;
}
input.btn--full-width,
button.btn--full-width {
	width: 100%;
}
@media #{$break-small} {
	.bs-btn--full-width {
		display: block;
	}
	input.bs-btn--full-width,
	button.bs-btn--full-width {
		width: 100%;
	}
}

.btn.loading {
	padding-left: 40px;
	cursor: wait;

	&:after {
		height: 19px;
		left: 15px;
		bottom: 0;
		top: 50%;
		margin-top: -10px;
		vertical-align: middle;
		position: absolute;
		font-family: "FontAwesome";
		content: "\f110";
		animation: spin 1s linear infinite both;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	} to {
		transform: rotate(360deg);
	}
}


// ***************************
// Buttons: group of multiple buttons into single element
// [hello|there|human]

.btns {
	position: relative;
	display: flex;
	align-items: center;
    	justify-content: center;

	.btn {
		flex: 0 0 auto;
		border-radius: 0;

		margin-right: -1px;
		white-space: nowrap;
	}

	@media #{$break-large} {
		:first-child {
			border-radius: $radius 0 0 $radius;
		}
		:last-child {
			border-radius: 0 $radius $radius 0;
		}
	}

	@media #{$break-small} { // Make the buttons fill space on mobile
		&--bs-full-width {
			display: block;
			.btn {
				border-radius: $radius;
				display: block;
			}
			:first-child {
				margin-bottom: 10px;
			}
		}
	}

	.icon {
		span {
			font-size: 10px;
		}
		padding-left: 15px;
		padding-right: 15px;
		font-weight: normal;
	}
	&.dropdown-on {
		position: relative;
		.dropdown {
			display: block;
			border-radius: $radius;
			margin-top: 10px;
			background: #fff;
			border: 1px solid #ddd;
			a {
				color: #000;
			}
		}
	}

	&--paginate {
		.btn {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.btns--select {
	select {
		border-radius: $radius 0 0 $radius;
	}
	.btn {
		border-left: 0;
		height: 30px;
	}
}

// ***************************
// Disclosuer 'FAQ style' element

.disclose {
	&__button {
		cursor: pointer;
		user-select: none;
		padding-bottom: 10px;
		display: block;

		&:before {
			font-family: 'FontAwesome';
			content: "\f0da";
			margin-right: 5px;
		}
		&.dadi-click:before {
			content: "\f0d7";
		}
	}
}

// ***************************
// Default form elements

label {
	font-weight: bold;
	margin-bottom: 10px;
	display: block;

	a {
		border-bottom: 1px solid $bdr-grey;
	}
	a:hover {
		color: $blue;
	}
}
textarea,
input[type=password],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=url],
select,
.input {
	display: inline-block;
	width: 100%; height: 39px;
	margin: 0;
	color: rgba(0,0,0,.5);
	background-color: #fff;
	padding: 5px 10px;
	appearance: none;
	outline: none;
	border: 1px solid $bdr-grey;
	transition: border-color .05s;
	border-radius: $radius;
	box-sizing: border-box;
	box-shadow: 0 0 0 2px rgba($black,0.02);
	transition: box-shadow 0.3s;

	&:focus {
		box-shadow: 0 0 0 4px rgba($blue,0.1);
		border-color: $blue;
		color: #404040;
	}
	&.invalid,&.error {
		box-shadow: 0 0 0 4px rgba($red,0.05);
		border-color: $red;
	}
	&.success {
		box-shadow: 0 0 0 4px rgba($green,0.1);
		border-color: $green;
	}
	&.delta {
		height: 30px;
	}
}
textarea {
	height: auto;
}
select {
	cursor: pointer;

	background-color: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0xNDA4IDcwNHEwIDI2LTE5IDQ1bC00NDggNDQ4cS0xOSAxOS00NSAxOXQtNDUtMTlsLTQ0OC00NDhxLTE5LTE5LTE5LTQ1dDE5LTQ1IDQ1LTE5aDg5NnEyNiAwIDQ1IDE5dDE5IDQ1eiIvPjwvc3ZnPg==);
	background-size: 18px auto;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 50%;
}

// ***************************
// Fields hold form elements

.field {
	position: relative;

	&--attach-left {
		.field__attachment {
			left: 0; right: auto;
		}
		input {
			padding-left: 35px;
		}
	}

	&--attach-top {
		.field__attachment {
			top: 0; bottom: auto !important;
		}
	}

	&__attachment {
		position: absolute !important;
		height: 39px;
		bottom: 0; right: 0;
		border-radius: 0 $radius $radius 0;

		.icon {
			margin: 11px;
			display: block;
			font-size: 18px;
		}
		&.icon {
			padding: 0 15px;
		}
		&.delta {
			height: 30px;

			&.icon {
				padding: 0 10px;
			}
		}
	}
	&__error, label.error {
		color: $red;
		margin-top: 10px;
		font-weight: normal;
		@extend .delta;
	}

	.list--keyval { // See lists.scss for full info
		margin-top: 10px;
	}
}

// ***************************
// Upload field

.field__upload {
	border-radius: $radius;
	border: 2px dotted $bdr-grey;
	display: block;
	padding: $margin;
	font-weight: bold;

	.icon {
		padding-right: 5px;
	}
}

// ***************************
// iOS style switches

.switch {
	outline: none;
	position: relative;
	cursor: pointer;
	text-indent: 30px;
	margin: 0 8px;
	vertical-align: top;
	margin-top: 0.0625em;
	border-radius: 1em;
	width: 1.65em; height: 1em;
	appearance: none;

	&:before {
		content: ' ';
		opacity: 1;
		width: 1.65em;
    	height: 1em;
		display: block;
		background: $grey;
		user-select: none;
		tap-highlight-color: transparent;
		border-radius: 1em;
		box-shadow: 0 0 0 2px $grey;
	}
	&:after {
		content: ' ';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 1em;
		height: 1em;
		background: #fff;
		border-radius: 100%;
		transition: all 0.2s ease-out;
	}
	&:hover {
		&:before {
			background: lighten($grey,5%);
		}
		&:checked:before {
			background: lighten($green,5%);
		}
	}
	&:focus {
		&:before {
			background: lighten($grey,5%);
		}
	}
	&:checked {
		&:after {
			left: 100%;
			margin-left: -1em;
		}
		&:before {
			background: $green;
			box-shadow: 0 0 0 2px $green;
		}
		&:focus {
			&:before {
				background: darken($green,5%);
			}
		}
	}
}

// ***************************
// Colours

.colour {
	display: inline-block;

	&__block {
		width: 10px;
		height: 10px;
		display: inline-block;
		margin: 2px;
		border-radius: $radius;
		border: 1px solid #999;
	}
}


// ***************************
// Date / Time

.dadiDateTime {
	&__container {
		@extend .delta;
		display: none;
		box-shadow: 0 4px 4px rgba($black,0.1);
		border-radius: $radius;
		background: #fff;
		border: 1px solid #ddd;
		padding: 10px;
		text-align: center;
		top: 100% !important;
		left: 0 !important;
		margin-top: 10px;
		z-index: 2;
	}
	&__container-attachment {
		position: absolute;
	}
	&__month {
		display: inline-block;
		margin-right: 25px;
	}
	&__month-label {
		margin-bottom: 10px;
		font-weight: bold;
	}
	&__month:last-child {
		margin-right: 0;
	}
	&__back,
	&__next {
		cursor: pointer;
		border: none;
		outline: none;
		background: none;
		padding: 0;
		margin: 0;
	}
	&__back[disabled],
	&__next[disabled] {
		cursor: default;
	}
	&__back {
		float: left;
	}
	&__next {
		float: right;
	}
	&__back:before {
		display: block;
		content: '\2190';
	}
	&__next:before {
		display: block;
		content: '\2192';
	}
	&__day-body {
		cursor: pointer;
		text-align: center;
		padding: 2px 4px;
		border-radius: 3px;

		&:hover {
			background: $grey;
			color: #fff;
		}
	}
	&__day-selected,
	&__time-selected,
	&__time-option:hover {
		border-radius: 3px;
		cursor: pointer;
		background-color: $user-accent;
		color: #fff;
	}
	&__day-prev-month,
	&__day-next-month {
		color: #ccc;
	}
	&__day-disabled {
		cursor: default;
		color: #fcc;
	}
	&__time {
		display: block;
		margin-top: 10px;
		width: 100%;
		position: relative;
	}
	&__time-list {
		display: none;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
		max-height: 160px;
		background: $bdr-grey;
		border-radius: $radius;
		margin-top: 10px;
		color: $text;

		&:before, &:after {
			background: linear-gradient(to bottom, $grey, rgba($grey,0));
			border-radius: $radius;
			position: absolute;
			top: 40px; right: 0; left: 0;
			pointer-events: none;
			height: 40px;
			content: ' ';
			display: block;
			z-index: 1;
		}
		&:after {
			background: linear-gradient(to top, $grey, rgba($grey,0));
			top: auto; bottom: 0;
		}
	}
	&__time-selected {
		padding: 5px;
	}
	&__time-option {
		padding: 5px;
	}
	&__day-concealed {
		visibility: hidden;
	}
}
