// ***************************
// Grid system

.grid:before,
.grid:after {
	content: '';
	display: table;
}
.grid:after {
	clear: both;
}
.grid {
	margin-left: - $margin;
	margin-right: - $margin;
	&.col {
		margin-left: 0;
		margin-right: 0;
	}
}
.grid > .col {
	box-sizing: border-box;
	padding-right: $margin;
	padding-left: $margin;
}
.grid--center > .col {
	margin-left: auto;
	margin-right: auto;
	float: none;
}
.grid--no-gutter {
	margin-left: 0;
	margin-right: 0;

	> .col {
		padding-right: 0;
		padding-left: 0;
	}
}

.grid--push		{ margin-top: $margin * 2;}

.col 			{ float: left; position: relative; }
.col--right 	{ float: right; }

.w-1-1 					{ width: 100%; }
.w-2-3, .w-8-12 		{ width: 66.66%; }
.w-1-2, .w-6-12 		{ width: 50%; }
.w-1-3, .w-4-12, .w-2-6 { width: 33.33%; }
.w-1-4, .w-3-12 		{ width: 25%; }
.w-1-5 					{ width: 20%; }
.w-1-6, .w-2-12 		{ width: 16.667%; }
.w-1-7 					{ width: 14.28%; }
.w-1-8 					{ width: 12.5%; }
.w-1-9 					{ width: 11.1%; }
.w-1-10 				{ width: 10%; }
.w-1-11 				{ width: 9.09%; }
.w-1-12 				{ width: 8.33%; }
.w-11-12 				{ width: 91.66%; }
.w-10-12 				{ width: 83.333%; }
.w-9-12, .w-3-4			{ width: 75%; }
.w-4-5 					{ width: 80%; }
.w-5-12 				{ width: 41.66%; }
.w-7-12 				{ width: 58.33%; }

@media #{$break-small} {

	.grid {
		margin-left: 0;
		margin-right: 0;
	}
	.col {
		float: none;
		width: auto;
	}
	.grid>.col {
		padding-left: 0;
		padding-right: 0;
	}

	.bs-grid {
		margin-left: - $margin / 3;
		margin-right: - $margin / 3;
	}
	.bs-grid > .col {
		padding-left: $margin / 3;
		padding-right: $margin / 3;
	}

	.bs-w-1-1 				{ float: left; width: 100%; }
	.bs-w-2-3, .bs-w-8-12	{ float: left; width: 66.66%; }
	.bs-w-1-2, .bs-w-6-12	{ float: left; width: 50%; }
	.bs-w-1-3, .bs-w-4-12	{ float: left; width: 33.33%; }
	.bs-w-1-4, .bs-w-3-12	{ float: left; width: 25%; }
	.bs-w-1-5 				{ float: left; width: 20%; }
	.bs-w-1-6, .bs-w-2-12	{ float: left; width: 16.667%; }
	.bs-w-1-7 				{ float: left; width: 14.28%; }
	.bs-w-1-8 				{ float: left; width: 12.5%; }
	.bs-w-1-9 				{ float: left; width: 11.1%; }
	.bs-w-1-10 				{ float: left; width: 10%; }
	.bs-w-1-11 				{ float: left; width: 9.09%; }
	.bs-w-1-12 				{ float: left; width: 8.33%; }
	.bs-w-11-12 			{ float: left; width: 91.66%; }
	.bs-w-10-12 			{ float: left; width: 83.333%; }
	.bs-w-9-12, .bs-w-3-4	{ float: left; width: 75%; }
	.bs-w-5-12 				{ float: left; width: 41.66%; }
	.bs-w-7-12 				{ float: left; width: 58.33%; }

}