html, body {
	min-height: 100%;
}

.bg {
	position: absolute;
	width: 100%;
	height: 100%;
}

[aria-hidden="true"] {
	display: none;
}

$nav-transition: all 0.3s ease-in-out;

.loading-overlay {
	position: relative;
	opacity: 0.4;
	z-index: auto;
}
.loading-overlay:after {
	background: #fff url(/assets/img/publish-loading.gif) no-repeat 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	border-radius: 60px;
	background-size: 30px auto;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin: 0 auto;
    content: ' ';
    width: 60px;
    height: 60px;
    z-index: 100;
    margin-top: -30px;
    margin-left: -30px;
}
body.loading-overlay:after {
	position: fixed;
}

.page {
	position: relative;
	min-height: 100vh; 
	
	@media #{$break-large} {
		max-width: 2500px;
		margin: 0 auto;

		.header {
			border-bottom: 1px solid $bdr-grey;
		}
		.header--fixedbottom {
			font-size: 14px;
		}
	}

	&--hassidebar {
		@media #{$break-large} {
			.main {
				padding-left: $sidebar;
			}
		}
		.sidebar {
			display: block;
		}
	}

	&--sidebar-right {
		.sidebar {
			left: auto; right: 0;
		}
		.main {
			padding-right: $sidebar;
			padding-left: $margin * 2;
		}
	}
	
}

.main {
	padding: $margin * 2;
	position: relative;
}
.sidebar {
	display: none;

	&__content {
		padding-bottom: $margin * 2;
		@extend .overflow-touch;
	}

	@media #{$break-large} {
		width: $sidebar;
		position: absolute;
		left: 0; bottom: 0; top: 0;
		height: 100%;

		&__content {
			padding: $margin * 2;
		}
	}

}


//////


// Table filters

@media #{$break-large} {

	.filter__item {
		
	}

	#tableFilter {
		width: 100%;
		left: auto; top: 0; bottom: 0; right: -100%;
		transition: $nav-transition;
		z-index: 11;
		
	}

	body.showfilter {
		#tableFilter {
			right: 0%;
		}
	}
}


// Slash command

.slash {
	position: fixed;
	top: 0; right: 0; left: 0;
	z-index: 100;
	background: rgba($blue,0.97);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	color: #fff;

	input {
		background: transparent;
		border: none;
		width: 100%;
		box-sizing: border-box; 
		color: #fff;
		display: block;
		padding: $margin;
		font-family: 'Menlo';
		outline: none;
	}
	li {
		padding: 10px 15px;
		background: $dark-blue;
		cursor: pointer;

		&:hover, &.selected {
			strong {
				color: $blue;
			}
		}
	}
	&__help {
		position: absolute;
		top: $margin; right: $margin;
	}
	&__key {
		display: inline-block;
		padding: 3px 5px;
		margin: 0 5px;
		font-size: 11px;
		line-height: 10px;
		color: #555;
		vertical-align: middle;
		background-color: #fcfcfc;
		border: solid 1px $dark-blue;
		border-bottom-color: $dark-blue;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 $dark-blue;
		font-family: 'Menlo';
	}
}