// ***************************
// List with links

.list--native {
	li {
		list-style: disc;
		margin-left: $margin + 5px;
	}
}


// ***************************
// Inline list seperated by dots

.list--inline {
	li {
		list-style: none;
		margin-right: 0.7em;
		display: inline-block;

		.fa {
			font-size: 0.8em;
		}
		&:after {
			content: '·';
			padding-left: 0.8em;
			font-weight: bold;
		}
		&:last-of-type:after {
			content: '';
			padding-left: none;
		}
	}
}

// ***************************
// Gridded list, seperated by lines

.list--grid,
.list--inline-grid {
	li {
		list-style: none;
		vertical-align: top;

		&:after {
			content: '';
			display: block;
			height: $margin;
		}
		
	}
	.image {
		border-radius: $radius;
		position: relative;
		overflow: hidden;
		display: block;
		background: #fff;
		box-shadow: 0 0 0 2px rgba($black,0.02);
		border: 2px solid #fff;

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.list__overlay {
		cursor: pointer;
		position: absolute;
		top: 0; left: 0;
		border-radius: 0 0 $radius 0;
		z-index: 1;
		background: #000;
		background: rgba(#000,0.8);
		color: #fff;
		padding: 3px 5px;
		display: none;

		a {
			text-decoration: none;
			color: inherit;
			border: none;
		}
	}

	.is_active & .list__overlay {
		display: block;
	}

	label {
		margin: 0;
	}
}
.list--grid {
	column-count: 4;
	column-gap: $margin;
	column-break-inside: avoid;
}

// ***************************
// List with links

.list--links  {
	list-style: none;

	.icon {
		margin-top: 3px;
		margin-right: 5px;
		width: 20px;
		text-align: center;

		&.float--right {
			margin-right: 0;
		}
	}
	.badge {
		margin-top: 4px;
		margin-right: 10px;
	}
	a,
	.list__link {
		display: block;
		padding: 10px 15px;
		border-radius: 3px;
		text-decoration: none;
		color: inherit;
		margin-bottom: 1px;
		border-bottom: 3px solid transparent;
		position: relative;
	}
	a.on,
	a[data-trigger-active="true"],
	a.on:hover,
	a[data-trigger-active="true"]:hover {
		background: $bdr-grey;
		color: $text;
	}
	a:hover,
	.list__link:hover {
		background: #efefef;
	}

	&.delta {
		a {
			padding: 7px 10px 3px 10px;
		}
		.icon {
			margin-top: 2px;
		}
	}

	&--tint {
		a.on,
		a[data-trigger-active="true"],
		a.on:hover,
		a[data-trigger-active="true"]:hover,
		a:hover {
			background: rgba(#000,0.3);
			color: inherit;
		}
	}
}

.list__link {
	border: 0;
	background: none;
}

// ***************************
// Key/value list

.list--keyval {
	list-style: none;
	border: 1px solid $bdr-grey;
	border-radius: $radius;
	box-shadow: 0 0 0 2px rgba($black,0.02);
	overflow: hidden;

	li {
		border-bottom: 1px dotted $bdr-grey;
		padding: 10px;

		&:last-of-type { border-bottom: 0; }
	}
	strong {
		float: right;
		font-weight: bold;
	}
	label {
		display: block;
		cursor: pointer;
		color: $mid-grey;
		font-weight: normal;
		padding: 10px;
		margin: -10px;

		&:hover {
			color: $text;
			background: $light-grey;
		}
	}
}