// ***************************
// Global navigation

.nav--primary {	
	padding: 20px $margin * 2;
	border-bottom: 1px solid #ECECEC;
	box-shadow: 0 1px 6px rgba(#000,0.1);

	> ul > li {
		list-style: none;
		float: left;
		padding-right: 5px;
		margin-right: 5px;
		position: relative;

		&:last-of-type {
			border-right: 0;
		}

		&.dropdown-on {
			.dropdown {
				display: block;
			}
		}
	}
	ul {
		@extend .cf;
	}
	.icon {
		margin-right: 3px;
		vertical-align: middle;
	}
	.nav__brand {
		img {
			display: block;
		}
		a {
			padding: 0;
			border-radius: 0;
		}
	}

	a {
		border-radius: $radius;
		padding: 6px 12px;
		transition: background color 0.2s;
		display: block;

		&.on, &:hover {
			background: $blue;
			color: #fff;
		}
	}
	.btn {
		padding: 5px 12px;
	}
	input[type="text"] {
		height: 32px;
	}
	.field__attachment {
		height: 36px;
	}

	.dropdown__button {
		&:after {
			margin-left: 8px;
		}
	}

	// Light variation
	&.nav--light {
		li {
			border-right-color: #eee;
		}
		a:hover,a.on,a.dadi-click {
			background: $user-accent;
			color: $white;
		}
	}

	&.hasprojects {
		padding-left: $sidebar + $margin * 2;
		position: relative;
	}

	// Settings, user info etc
	.nav__aside {
		float: right;

		> li {
			padding-right: 0 !important;
			margin-right: 0 !important;
			padding-left: 5px;
			margin-left: 5px;
		}
	}
}

// ***************************
// Dropdown menus

.dropdown {
	position: absolute;
	left: 0;
	width: 200px;
	top: 100%;
	margin-top: 10px;
	z-index: 10;
	padding: $margin / 2;
	box-shadow: 0 4px 4px rgba($black,0.1);
	border-radius: $radius;
	background: #fff;
	border: 1px solid #ddd;
	color: $text;

	&--alignr {
		left: auto; right: 0;
	}

	&--alignb {
		left: auto; top: auto; bottom: 40px;
	}

	&__button {
		&:after {
			content: "\f0d7";
			font-family: "FontAwesome";
			float: right;
		}
		&.dadi-click:after {
			content: "\f0d8";
		}
	}

	ul:not(:first-child) {
		border-top: 1px solid $bdr-grey;
		margin: 8px -8px 0;
		padding: 8px 8px 0;
	}
	.scroll {
		position: relative;

		ul {
			max-height: 330px;
			overflow: scroll;
			-webkit-overflow-scrolling: touch;

			li:nth-child(-n+9) {
				z-index: 2;
				position: relative;
			}
		}
		&:after {
			background: linear-gradient(to top, #fff, rgba(#fff,0));
			position: absolute;
			bottom: 0; right: 0; left: 0;
			pointer-events: none;
			height: 40px;
			content: ' ';
			display: block;
			z-index: 1;
		}
	}
	li {
		list-style: none;
	}
	a {
		display: block;
		padding: 6px 12px;
		border-radius: $radius;
	}
	a:hover, a.on:hover {
		background: $user-accent;
		color: #fff;
	}
	a.on {
		background: $dark-blue;
		color: #fff;
	}
}

// ***************************
// Tabs

.nav--tabs {
	padding: $margin $margin * 2 0;
	box-shadow: inset 0 -2px 4px rgba($black,0.05);
	overflow: hidden;
	text-transform: uppercase;
	font-weight: bold;

	li {
		list-style: none;
		float: left;
	}
	a {
		border-top: 1px solid transparent;
		border-left: 1px solid transparent;
		border-right: 1px solid #EFEFEF;
		text-align: center;
		display: block;
		padding: $margin * 0.75 $margin;
	}
	li:last-of-type a {
		border-right: 0;
	}	

	a:hover {
		background: rgba($black,0.03);
	}
	a.on,
	a[data-trigger-active="true"] {
		background: #fff;
		border-color: $bdr-grey;
		color: $text;
		border-radius: $radius $radius 0 0;
		margin-left: -1px;
	}
}

// ***************************
// Page headers

.header {
	padding: 25px $margin * 2;
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #ECECEC;
	box-shadow: 0 1px 6px rgba(#000,0.1);

	@media #{$break-large} {
		&__controls {
			position: absolute;
			top: 22px; right: $margin * 2;

			> * {
				margin-left: $margin;
			}
		}
	}

	&--compact {
		padding: 17px $margin * 2;

		.btn {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		@media #{$break-large} {
			.header__controls {
				top: 19px;
			}
		}
	}
}

.breadcrumb {
	a:not(.documentation) {
		color: $user-accent;

		&:after {
			font-family: "FontAwesome";
			content: "\f105";
			color: $grey;
			margin: 0 3px 0 10px;
			font-weight: normal;
		}
	}
	a:hover {
		color: #000;
	}
}


// ***************************
// Toolbar

.toolbar {
	transition: opacity 0.25s ease;
	z-index: 1;
	background: #fff;
	border-radius: $radius;
	box-shadow: 0 0 5px 2px rgba(0,0,0,.04);
	font-size: 0;
	display: inline-block;
	border: 1px solid $bdr-grey;

	&-item {
		display: inline-block;
		border: 0;
		background: none;
		border-right: 1px solid #eee;
		padding: 3px 8px;
		cursor: pointer;
		font-size: 15px;
		min-width: 11px;
		text-align: center;
		outline: none;
		margin: 0;

		input {
			vertical-align: middle;
		}

		.icon { font-size: 13px; }

		&:first-child() { border-radius: $radius 0 0 $radius; }
		&:last-child() { border-right: 0; border-radius: 0 $radius $radius 0; }
		&:hover,
		&:active,
		&.on {
			background: $blue;
			color: #fff;
			border-right-color: $blue;
		}

		&.warn:hover { background: $red; }
		&.success:hover { background: $green; }
	}
}