// ***************************
// tables

.table {
	table-layout: auto;
	word-break: normal;
	font-size: 15px;
	margin-bottom: 30px;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;

	&--bdr {
		border-radius: $radius;
		box-shadow: 0 0 0 2px rgba($black,0.02);
		border: 1px solid $bdr-grey;
	}

	th {
		white-space: nowrap;
		text-align: left;
		font-weight: 600;
		vertical-align: top;
		padding: $margin;
		background: #fff;
		vertical-align: middle;
		border-bottom: 1px dotted $bdr-grey;
	}
	tr td {
		vertical-align: top;
		border-bottom: 1px dotted $bdr-grey;
		cursor: default;
		padding: 12px 15px;
		width: 1%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
		vertical-align: middle;
	}
	tr:hover td {
		background: $light-blue;
		border-bottom: 1px solid $mid-blue;
		box-shadow: 0 1px 0 0px $mid-blue inset;
	}

	td, th {
		&:first-of-type {
			padding-left: $margin * 1.5;
		}
		&:last-of-type {
			padding-right: $margin * 1.5;
		}
	}
	td.selection,
	th.selection {
		vertical-align: middle;
		cursor: pointer;
	}
	th.selection label {
		margin-top: 3px;
		padding-left: 7px;
	}
	td.highlight,
	th.highlight {
		font-weight: bold;
	}
	tbody {
		tr:nth-child(odd) {
			background: $light-grey;
		}
		tr:hover td.row-head {
			color: $user-accent;
		}
	}

	.row-head {
		max-width: 500px;
		min-width: 350px;
		font-weight: bold;
	}

	&__sortedBy {
		&.asc, &.desc {
			color: $user-accent;
			&:after {
				content: "\f0d7";
				font-family: "FontAwesome";
				margin-left: 10px;
			}
		}
		&.desc:after {
			content: "\f0d8";
		}
	}

	&__sep {
		border-bottom: 1px solid $red;
		height: 0;
		position: absolute;
		width: 100%;

		td {
			background: $red !important;
			color: #fff;
			border-radius: 0 0 $radius $radius;
			padding: 3px !important;
			font-size: 90%;
			width: auto !important;
			border-bottom: 0 !important;
			margin-left: 10px;
			display: inline-block;
		}
	}

	&__link {
		display: inline-block;
		color: $dark-blue;

		&:hover {
			color: $blue;
		}
	}

	&__controls {
		.btn {
			padding-top: 3px;
			padding-bottom: 3px;
			margin: -3px 0 0 7px;
		}
	}

	tr.select {
		animation-name: pulse;
		animation-duration: 0.25s;
		transform-origin:70% 70%;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		user-select: none;

		td {
			background: #ebf5fc;
			border-bottom: 1px solid lighten($blue, 25%);
		}
	}

	.dadiEditableTable__input {
		height: 26px !important;
	}

	tr.delete td {
		background: lighten($red, 32%);
		border-bottom: 1px solid lighten($red, 25%);
	}
}

.table__paginate {
	position: fixed;
	left: 0; right: 0; bottom: 0;
	background: rgba(#fff,0.9);
	font-size: 14px;
	padding: 10px 30px 20px;
	box-shadow: 0 -4px 16px #fff;
	z-index: 1;

	.appNav & 	{ left: $nav;	}

	.btn {
		padding: 5px 10px !important;
	}
}

/*!
// CSS only Responsive Tables
// http://dbushell.com/2016/03/04/css-only-responsive-tables/
// by David Bushell
*/

.table {
  /*!
  // IE needs inline-block to position scrolling shadows otherwise use:
  // display: block;
  // max-width: min-content;
  */
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  
  overflow-x: auto;
  
  border-collapse: collapse;
  border-spacing: 0;
}

.table,
.table--flip tbody {
  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;
  
  // scrolling shadows
  //background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
  //            radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
}

// change these gradients from white to your background colour if it differs
// gradient on the first cells to hide the left shadow
.table th:first-child,
.table td:first-child,
.table--flip tbody tr:first-child {
  //background-image: linear-gradient(to right, rgba(#fff, 0.8) 50%, rgba(#fff, 0) 100%);
  //background-repeat: no-repeat;
  //background-size: 20px 100%;
}

// gradient on the last cells to hide the right shadow
.table th:last-child,
.table td:last-child,
.table--flip tbody tr:last-child {
  //background-image: linear-gradient(to left, rgba(#000, 0.05) 50%, rgba(#000, 0) 100%);
  //background-repeat: no-repeat;
  //background-position: 100% 0;
  //background-size: 20px 100%;
}

.table--flip {
  display: flex;
  overflow: hidden;
  background: none;
}

.table--flip thead {
  display: flex;
  flex-shrink: 0;
  min-width: min-content;
}

.table--flip tbody {
  display: flex;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
}

.table--flip tr {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-shrink: 0;
}

.table--flip td,
.table--flip th {
  display: block;
}

.table--flip td {
  background-image: none !important;
  // border-collapse is no longer active
  border-left: 0;
}

// border-collapse is no longer active
.table--flip th:not(:last-child),
.table--flip td:not(:last-child) {
  border-bottom: 0;
}
