.wrapper {
  position: relative;
  margin: 0 0 20px;
  line-height: 1.1em;
  overflow: hidden;
  background-color: var(--edit-color-background-1);
  border: var(--edit-border-width-standard) solid var(--edit-color-border-light);
  border-radius: var(--edit-radius-elem);
  z-index: 1; /* http://stackoverflow.com/a/24056662 */
}

.generic-thumbnail {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('./icon-file.svg');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.image-holder {
  background-color: #ddd;
  cursor: pointer;
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
  transform: scale(1);
  z-index: 0; /* http://stackoverflow.com/a/24056662 */
}

@media (min-width: 600px) {
  .wrapper:hover .image {
    transform: scale(1.05);
  }
}

.select {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.metadata {
  padding: var(--edit-margin-lg);
}

.filename {
  border-bottom: solid var(--edit-border-width-standard)
    var(--edit-color-border-light);
  font-weight: 700;
  color: var(--edit-color-primary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: var(--edit-margin-xs);
  margin-bottom: var(--edit-margin-xs);
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--edit-color-text-2);
}
