.card {
  background-color: var(--edit-color-background-1);
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: solid var(--edit-border-width-standard) var(--edit-color-border-light);
  border-radius: var(--edit-radius-elem);
}

.body-wrapper {
  flex: 1;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image,
.generic-thumbnail {
  max-width: 100%;
  max-height: 100%;
  transition: all var(--edit-transition-duration-standard);
}

.card.select-mode .image,
.body-wrapper:hover .image,
.card.select-mode .generic-thumbnail,
.body-wrapper:hover .generic-thumbnail {
  opacity: 0.8;
}

.generic-thumbnail {
  width: 100%;
  height: 100%;
  background-image: url('./icon-file.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.select {
  display: none;
  position: absolute;
  top: var(--edit-margin-xxs);
  left: var(--edit-margin-xxs);
  padding: var(--edit-margin-sm);
  z-index: 2;
}

.card.select-mode .select,
.card:hover .select {
  display: block;
}

.card.select-mode:hover .select input::before {
  border-color: var(--edit-color-border-dark) !important;
}

.metadata {
  padding: var(--edit-margin-md);
}

.filename {
  border-bottom: solid var(--edit-border-width-standard)
    var(--edit-color-border-light);
  font-weight: 700;
  color: var(--edit-color-primary);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: var(--edit-margin-xs);
  margin-bottom: var(--edit-margin-xs);
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--edit-color-text-2);
}
