.dadiCells__cell--rating {
    padding-left: 4px;

    input {
        background: none;
        border: none;
    }


    /// Bootstrap rating

    .rating-loading {
        width: 25px;
        height: 25px;
        font-size: 0;
        color: #fff;
        border: none;
    }

    /*
     * Stars
     */
    .rating-container .rating {
        cursor: default;
        position: relative;
        vertical-align: middle;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
    }

    .rating-disabled .rating {
        cursor: not-allowed;
    }

    .rating-container .star {
        display: inline-block;
        text-align: center;
        cursor: pointer;
    }

    .rating-container .empty-stars {
        color: #ddd;
    }

    .rating-container .filled-stars {
        position: absolute;
        left: 0;
        top: 0;
        margin: auto;
        color: $red;
        white-space: nowrap;
        overflow: hidden;
    }

    .rating-rtl {
        float: right;
    }

    .rating-animate .filled-stars {
        transition: width 0s ease;
        -o-transition: width 0s ease;
        -moz-transition: width 0s ease;
        -webkit-transition: width 0s ease;
    }

    .rating-rtl .filled-stars {
        left: auto;
        right: 0;
        -moz-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
        -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
        -o-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
        transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    }

    .rating-rtl.is-star .filled-stars {
        right: 0.06em;
    }

    .rating-rtl.is-heart .empty-stars {
        margin-right: 0.07em;
    }


    /**
     * Clear
     */
    .rating-container .clear-rating {
        color: #aaa;
        cursor: not-allowed;
        display: inline-block;
        vertical-align: middle;
        font-size: 60%;
    }

    .clear-rating-active {
        cursor: pointer !important;
    }

    .clear-rating-active:hover {
        color: $red;
    }

    .rating-container .clear-rating {
        padding-right: 10px;
        padding-left: 10px;
    }

    /**
     * Caption
     */
    .rating-container .caption {
        color: #999;
        display: inline-block;
        vertical-align: middle;
        font-size: 60%;
    }

    .rating-container .caption {
        margin-left: 15px;
        margin-right: 0;
    }

    .rating-rtl .caption {
        margin-right: 15px;
        margin-left: 0;
    }

    /**
     * Print
     */
    @media print {
        .rating-container .clear-rating {
            display: none;
        }
    }
}