.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.preview {
  border-radius: 3px;
  width: auto;
  height: auto;
  max-height: 110px;
  max-width: 50%;
  margin-right: 10px;
}

.placeholder {
  padding-top: 5px;
  text-align: center;
}

.upload-options {
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 10px;
  padding-top: 15px;
  justify-content: space-around;
}
