.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.thumbnails {
  margin-right: 20px;
}

.thumbnail {
  display: block;
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
}

.list {
  width: 60%;
}

.thumbnail + .thumbnail {
  margin-top: 5px;
}

.placeholder {
  padding-top: 5px;
  text-align: center;
}

.upload-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 10px;
  padding-top: 10px;
  justify-content: space-around;
}

.upload-drop {
  box-shadow: inset 0 0 5px #e4e4e4;
  background: #fdfdfd;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.upload-select {
  margin-top: 20px;
  margin-bottom: 5px;
}