/*
 * Table
 */
.table {
  display: inline-block;
  font-size: 14px;
  font-family: var(--theme-font-family, sans-serif);
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; 
  max-width: 100%;
  width: 100%;
}

/*
 * Table cell (generic)
 */
.cell {
  cursor: default;
  padding: 16px 15px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 1.3;
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

/*
 * Table head
 */
.head {
  background-color: var(--theme-colour-background, #FFFFFF);
  color: var(--theme-colour-primary, #000000);
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
}

.head-cell {
  position: relative;
  padding: 0;
  border-bottom: 2px solid #f9f9f9;
}

.head-cell a {
  display: inline-block;
  padding: 12px 8px 10px 15px;
}

.head-cell-label {
  vertical-align: middle;
}

.head-cell-selected {
  background: #F3F8FF;
  color: var(--theme-colour-data, #000000);
  padding-right: 5px;
  border-bottom: 2px solid var(--theme-colour-data, #000000);
}

.head-cell-arrow {
  color: var(--theme-colour-data, #000000);
  position: absolute;
  right: 0;
  margin: 19px 12px 0 0;
}

/*
 * Table row
 */
.row {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08) inset;
  background-color: var(--theme-colour-background, #FFFFFF);
  color: var(--theme-colour-primary, #000000);
}

.row a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.row:nth-child(odd) {
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
}

.row:hover {
  background-color: #f3f8ff;
}

.row:hover a {
  border-bottom-color: var(--theme-colour-data, #4A91FF);
}

.row-cell-blank {
  color: var(--theme-colour-background-shade-2, #AAAAAA);
}

.row-selected {
  background-color: #79879b !important;
  color: var(--theme-colour-secondary, #FFFFFF) !important;
}

/*
 * Select checkbox
 */
.select-cell {
  width: 1%;
  padding-left: 20px;
  padding-right: 0;
}

.select {
  border-radius: 3px;
}

.row:hover .select,
.head:hover .select {
  box-shadow: 0 0 0 3px rgba(74, 145, 255, 0.3);
}
