.container {
  padding: 20px 0 80px 0;
}

.section {
  display: none;
  flex-wrap: wrap;
}

.section-active {
  display: flex;
}

.navigation {
  margin: 0 10px 10px 10px;
  border-bottom: 3px solid #e3e3e3;
}

@media (--breakpoint-medium) {
  .navigation {
    margin: 5px 25px 15px 25px;
  }
}

.main {
  width: 100%;
  padding: 10px 25px;
}

@media (--breakpoint-medium) {
  .main:not(.main-full) {
    width: 66.6666%;
    width: calc(2 * (100% / 3));
    padding: 10px 15px 10px 25px;  
  }
}

.sidebar {
  width: 100%;
  padding: 10px;
}

@media (--breakpoint-medium) {
  .sidebar {
    width: 33.3333%;
    width: calc(100% / 3);
    padding: 10px 25px 10px 15px;
  }
}

.field {
  margin-bottom: 18px;
}
