.container-fullscreen {
  overflow: hidden;
  padding: 0 10px 40px 10px;
  background-color: var(--edit-color-background-1);
}

.editor {
  --font-mono: 'Roboto Mono', monospace;
  --margin: 24px;
  --margin-semi: 10px;

  overflow-y: auto;
  border: solid var(--edit-border-width-standard) var(--edit-color-border-light);
  border-radius: var(--edit-radius-input);
  background-color: var(--edit-color-background-2);
  padding: var(--edit-elem-padding-standard);
  transition-property: border-color, background-color, color;
  transition-duration: var(--edit-transition-duration-standard);
  cursor: text;
}

.editor.editor-focused {
  border-color: var(--edit-color-border-dark);
  background-color: var(--edit-color-background-1);
}

.editor-wrapper-fullscreen .editor {
  margin: 0 auto;
  max-width: 700px;
}

.editor-wrapper-raw .editor {
  font-family: var(--font-mono);
}

.editor strong,
.editor h1,
.editor h2,
.editor h3,
.editor h4,
.editor h5,
.editor h6 {
  font-weight: 700;
  margin: var(--margin) 0 var(--margin-semi) 0;
}

.editor h1 {
  font-size: 1.875em;
}

.editor h2 {
  font-size: 1.5em;
}

.editor h3 {
  font-size: 1.25em;
}

.editor em {
  font-style: italic;
}

.editor a {
  color: var(--edit-color-positive);
  text-decoration: underline;
}

.editor code {
  font-family: var(--font-mono);
  font-size: var(--edit-font-size-sm);
}

.editor pre {
  background-color: var(--edit-color-background-3);
  padding: var(--edit-margin-xs);
}

.editor :not(pre) > code {
  color: var(--edit-color-positive-darker-2);
  background-color: var(--edit-color-positive-hint);
  padding: 0 2px;
}

.editor .image-wrapper,
.editor hr,
.editor pre,
.editor blockquote,
.editor ul,
.editor ol {
  margin: var(--margin) 0;
}

.editor > *:first-child {
  margin-top: 0;
}

.editor .image-wrapper {
  background-color: var(--edit-color-background-2);
  display: flex;
  justify-content: center;
  padding: var(--edit-margin-xs);
  border: var(--edit-border-width-standard) dashed transparent;
  transition: border-color var(--edit-transition-duration-standard);
}

.editor .image-wrapper.focused {
  border-color: var(--edit-color-positive-opacity);
}

.editor .image-wrapper img {
  display: block;
  max-height: 20em;
  max-width: 100%;
}

.editor blockquote {
  border-left: 2px solid var(--edit-color-border-light);
  color: var(--edit-color-text-3);
  padding-left: var(--edit-margin-sm);
}

.editor ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.editor ul {
  list-style-type: disc;
  list-style-position: inside;
}

.media-select-documents {
  height: 100%;
  margin-bottom: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.media-select-filters {
  background-image: linear-gradient(-180deg, #0b131f 10%, #17273f 100%);
  padding: 20px;
}

.media-select-toolbar {
  bottom: 0;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.toolbar-heading-icon {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: var(--edit-font-size-lg);
}
