.checkbox {
  outline: none;
  position: relative;
  cursor: pointer;
  text-indent: 30px;
  margin: 5px 3px;
  vertical-align: middle;
  border-radius: 16px;
  width: 26px;
  height: 16px;
  appearance: none;
}

.checkbox:before {
  content: ' ';
  opacity: 1;
  width: 26px;
  height: 16px;
  display: block;
  background-color: #aaaaaa;
  user-select: none;
  tap-highlight-color: transparent;
  border-radius: 16px;
  box-shadow: 0 0 0 2px #aaaaaa;
}

.checkbox:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border-radius: 100%;
  transition: all 0.2s ease-out;
}

.checkbox:hover:before,
.checkbox:focus:before {
  background-color: #b7b7b7;
}

.checkbox:checked:before {
  background-color: #88c24c;
  box-shadow: 0 0 0 2px #88c24c;
}

.checkbox:checked:hover:before {
  background-color: #95c85f;
}

.checkbox:checked:focus:before {
  background-color: #7bb63e;
}

.checkbox:checked:after {
  left: 100%;
  margin-left: -16px;
}
