.main {
  padding-bottom: calc(var(--edit-margin-xxl) + var(--editif-toolbar-height));
}

.main.is-media {
  padding-top: var(--edit-margin-xxl);
}

.container {
  position: absolute;
  top: 0;
  width: 100%;
}

.header {
  background-color: var(--edit-color-background-1);
  padding: 8px var(--edit-margin-lg);
  border-bottom: 2px solid var(--edit-color-background-3);
}

@media (min-width: 1024px) {
  .header {
    padding: 8px var(--edit-margin-xxl);
  }
}

.back-button {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.back-button > * {
  vertical-align: middle;
}

.back-button > svg {
  margin-left: -4px;
}

.back-button > span {
  margin-left: var(--edit-margin-xxs);
}

.toolbar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--edit-z-index-toolbar);
}
