.content {
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  padding: 20px;
}

.main {
  width: 66.6666%;
  width: calc(2 * (100% / 3));
}

.sidebar {
  width: 33.3333%;
  width: calc(100% / 3);
}
