.wrapper {
  background-color: var(--edit-color-background-1);
  box-shadow: var(--edit-shadow-4px-bottom);
  display: flex;
  padding: 15px 20px;
}

@media (min-width: 600px) {
  .wrapper {
    align-items: center;
  }
}

.actions {
  margin-left: 10px;
}

@media (min-width: 600px) {
  .actions {
    margin-left: 0;
    padding-left: 10px;
  }

  .wrapper {
    display: flex;
  }

  .filters {
    flex-grow: 1;
  }
}

.new-button-large {
  display: none;
}

@media (min-width: 600px) {
  .new-button-large {
    display: block;
  }

  .new-button-small {
    display: none;
  }
}
