.main {
  padding-bottom: calc(var(--editif-toolbar-height) + var(--edit-margin-md));
}

.toolbar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--edit-z-index-toolbar);
}
