.main {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.empty-view-droparea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1023px) {
  .delete-button {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

.list-container {
  flex: 1;
}

.list-container > * {
  height: 100%;
}
