.main {
  position: relative;
}

.list-container {
  padding-bottom: calc(var(--edit-margin-xxl) + var(--editif-toolbar-height));
}

.toolbar {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: var(--edit-z-index-toolbar);
}

.button-wrapper.hidden {
  visibility: hidden;
}

.empty-view-droparea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
