.input {
  border: 0;
  display: block;
  width: 100%;
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
  outline: 0;
}

.input-in-label {
  background-color: inherit;
}

.resizable {
  resize: both;
}

.not-resizable {
  resize: none;
}

.full-height {
  height: 100vh;
}

.content-height {
  height: auto;
}