.information {
  display: none;
  align-items: center;
}

@media (--breakpoint-large) {
  .information {
    display: flex;
  }
}

.count-label {
  margin-left: 15px;
}

.section {
  display: flex;
  align-items: center;
}

.select {
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  outline: 0;
}

.select-button {
  margin-left: 10px;
}

.page-input {
  width: 100px;
  text-align: center;
}

.actions {
  display: none;
}

@media (--breakpoint-large) {
  .actions {
    display: block;
  }
}