.droparea {
  position: relative;
}
.droparea-active:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--edit-color-positive-hint);
  opacity: 0.8;
  z-index: 3;
}

.droparea-active .contents {
  pointer-events: none;
}

.information {
  position: relative;
  z-index: 3;
}
