.dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url('./icon.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: right;
  background-position-y: 50%;  
  border: 1px solid #b8bfca;
  border-radius: 4px;
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
  padding: 8px 24px 8px 10px;
  position: relative;
  outline: none;
}

.dropdown:focus {
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,.3);
}

.dropdown-text-small {
  font-size: var(--theme-font-size-small, 13px);
}
