.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(-180deg, #040609 50%, #0b131e 100%);  padding: 10px 20px;
  color: var(--theme-colour-secondary, #FFFFFF);
  font-family: var(--theme-font-family, sans-serif);
  line-height: 1.25;
}