@import '../../assets/scss/main.scss';

.Card {
  padding: 20px 30px 20px 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #eeeeee;
  background: #fefefe;

  h2 {
    margin: 0 0 10px 0;
    font-size: 120%;
  }
}
