@import '../../assets/scss/main.scss';

$borderRadius: 5px !default;
$inputPadding: 2px !default;

.SubmitButton {
  border-radius: $borderRadius;
  padding: $inputPadding;
  margin: 5px !important;
}
