.wrapper {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('./loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
