.image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.information {
  font-family: var(--theme-font-family, sans-serif);
}

.pdf {
  width: 100%;
  height: 80vh;
}

.video {
  width: 100%;
}