.indicator-button {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: $grey;
	background: 0;
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 10px;
	margin: 5px;
	outline: 0;
}

.indicator-button--active {
	border-color: $blue !important;
}

.indicator-button--set {
	border-color: $green;
}

.indicator-button--warn {
	border-color: $yellow;
}

.indicator-button--error {
	border-color: $red;
}