.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.values {
  width: 100%;
}

.value {
  color: var(--theme-colour-primary, #000000);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  padding-top: 2px;
}

.empty {
  color: var(--theme-colour-background-shade-2, #AAAAAA);
}

.value-link {
  display: inline-block;
  border-bottom: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  transition: border-bottom-color 0.1s ease-in-out;
  margin: 4px 0;
}

.value-link:hover {
  border-bottom-color: var(--theme-colour-data, #4A91FF)
}

.placeholder {
  padding-top: 5px;
  text-align: center;
}

.control-button {
  margin-left: 10px;
}