.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.value {
  color: var(--theme-colour-primary, #000000);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  padding-top: 2px;
}

.placeholder {
  padding-top: 5px;
  text-align: center;
}