/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
       url('/fonts/karla-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-italic - latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'),
       url('/fonts/karla-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'),
       url('/fonts/karla-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700italic - latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'),
       url('/fonts/karla-v5-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --theme-font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  --theme-font-size-small: 13px;
  --theme-font-size-normal: 16px;
  --theme-font-size-large: 20px;
  --theme-colour-primary-shade-1: #777777;
}.FieldLabel__container___3e81R {
  position: relative;
  background: #ffffff;
  border: 1px solid #ECEAEA;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 32px 13px 15px;
}

.FieldLabel__label___2BvMM {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 13px;
  font-weight: 700;
  color: #777777;
  color: #777777;
  color: var(--theme-colour-primary-shade-1, #777777);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 13px;
  font-size: 13px;
  font-size: var(--theme-font-size-small, 13px);
}

.FieldLabel__comment___1RxxD {
  position: absolute;
  top: 13px;
  right: 15px;
  font-size: 13px;
  color: #777777;
  color: #777777;
  color: var(--theme-colour-primary-shade-1, #777777);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 13px;
  font-size: 13px;
  font-size: var(--theme-font-size-small, 13px);
}.TextInput__input___3LoZH {
  border: 0;
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 16px;
  font-size: 16px;
  font-size: var(--theme-font-size-normal, 16px);
  outline: 0;
}.SignIn__test___17WL8 {
  
}