.Dropdown__dropdown___h0uLL {
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border-radius: 4px;
  box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}

.Dropdown__dropdown-tooltip___1vxI7:before {
  bottom: -20px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136,183,213,0);
  border-top-color: #e4e4e4;
  border-width: 10px;
}

.Dropdown__dropdown-tooltip-left___3loJA:before {
  left: 20px;
}

.Dropdown__dropdown-tooltip-right___eF2mD:before {
  right: 20px;
}

.Dropdown__dropdown-item___nHBIx {
  border-radius: 4px;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.Dropdown__dropdown-item___nHBIx:hover {
  background-color: #EEEEEE;
  background-color: #EEEEEE;
  background-color: var(--theme-colour-background-shade-3, #EEEEEE);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.Dropdown__dropdown-item-active___3BmXP {
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
}
.NavItem__container___1wydz {
  display: block;
  position: relative;
}

.NavItem__container-desktop___1bFcA {
  display: inline-block;
}

.NavItem__container-expanded___1wyrE {
  color: red !important;
}

.NavItem__nav-item___kFcPi {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.NavItem__container-expanded___1wyrE .NavItem__nav-item___kFcPi {
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  text-shadow: 0px 0px 1px #FAFAFA;
  text-shadow: 0px 0px 1px #FAFAFA;
  text-shadow: 0px 0px 1px var(--theme-colour-background-shade-1, #FAFAFA);
}

.NavItem__nav-item-active___1Mn01 {
  text-shadow: 0px 0px 1px #ffbf0d;
  text-shadow: 0px 0px 1px #ffbf0d;
  text-shadow: 0px 0px 1px var(--theme-colour-system, #ffbf0d);
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}

.NavItem__container-desktop___1bFcA .NavItem__children___3_Bp3 {
  display: none;
  position: absolute;
  min-width: 180px;
  top: 100%;
  top: calc(100% - 3px);
}

.NavItem__container-expanded___1wyrE .NavItem__children___3_Bp3 {
  display: block;
}
.Nav__nav___dGSsX {
  border-top: 1px solid #293547;
  padding: 10px;
}

.Nav__children___1nQKf {
  border-left: 3px solid #293547;
  margin: 5px 10px;
}.IconBurger__icon___3iUqS {
  stroke: currentColor;
}.IconCross__icon___sQLcl {
  stroke: currentColor;
  fill: currentColor;
}.Header__header___3y9Kw {
  position: relative;
  z-index: 1000;
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
}

.Header__masthead___3iRbE {
  padding: 13px 20px;
}

@media (min-width: 600px) {
  .Header__masthead___3iRbE {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.Header__logo___3lRPD {
  height: 28px;
}

.Header__controls___1MdBy {
  margin-top: 10px;
}

@media (min-width: 600px) {
  .Header__controls___1MdBy {
    margin-top: 0;
  }
}

.Header__signout___1datp {
  text-decoration: none;
  color: #4A596F;
  margin-right: 10px;
  cursor: pointer;
}

.Header__signout___1datp:hover {
  color: #4A91FF;
  color: #4A91FF;
  color: var(--theme-colour-data, #4A91FF);
}

.Header__user___2Bh5K {
  text-decoration: none;
  font-weight: bold;
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}

.Header__user___2Bh5K:hover {
  color: #d9a000;
  color: #d9a000;
  color: var(--theme-colour-system-shade-1, #d9a000);
}

.Header__toggle___3D5Cj {
  position: relative;
  display: block;
  background-image: linear-gradient(to top, #020406, #17273F);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  text-align: left;
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.Header__toggle-icon___1Riwb {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}

.Header__toggle-label___dCu76 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.Header__content___20M6s {
  background-image: linear-gradient(-180deg, #020406 16%, #17273F 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.Header__content-compact___1Du2w {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.Header__content-expanded___1JQS9 {
  -webkit-transform: none;
          transform: none;
}
/* karla-regular - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'),
       url('/fonts/karla-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-italic - latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 400;
  src: local('Karla Italic'), local('Karla-Italic'),
       url('/fonts/karla-v5-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700 - latin */
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'),
       url('/fonts/karla-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* karla-700italic - latin */
@font-face {
  font-family: 'Karla';
  font-style: italic;
  font-weight: 700;
  src: local('Karla Bold Italic'), local('Karla-BoldItalic'),
       url('/fonts/karla-v5-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/karla-v5-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root strong {
  font-weight: bold;
}

.Main__main___1b1KR {
  min-height: 100vh;
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  background-image: url(/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid transparent;
}

:root {
  --theme-colour-background: #FFFFFF;
  --theme-colour-background-shade-1: #FAFAFA;
  --theme-colour-background-shade-2: #AAAAAA;
  --theme-colour-background-shade-3: #EEEEEE;
  --theme-colour-background-shade-4: #E4E4E4;
  --theme-colour-secondary-background: #17273F;
  --theme-colour-data: #4A91FF;
  --theme-colour-data-shade-1: #1772ff;
  --theme-colour-error: #E5462C;
  --theme-colour-error-shade-1: #982613;
  --theme-colour-error-shade-2: #FEF8F8;
  --theme-colour-primary: #000000;
  --theme-colour-primary-shade-1: #777777;
  --theme-colour-save: #88c24c;
  --theme-colour-save-shade-1: #6ea338;
  --theme-colour-save-shade-2: #58822d;
  --theme-colour-secondary: #FFFFFF;
  --theme-colour-system: #ffbf0d;
  --theme-colour-system-shade-1: #d9a000;
  --theme-colour-system-shade-2: #c08d00;
  --theme-colour-system-shade-3: #a67a00;
  --theme-font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  --theme-font-size-small: 13px;
  --theme-font-size-normal: 16px;
  --theme-font-size-large: 20px;
  --theme-toolbar-height: 63px;
}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
}
html, body {
  height: 100%;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}.LoadingBar__bar___2BSnx {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  z-index: 3000;
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  transition: opacity 0.2s ease-out, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, opacity 0.2s ease-out;
  transition: transform 0.2s linear, opacity 0.2s ease-out, -webkit-transform 0.2s linear;
}

.LoadingBar__tip___1KEYG {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #4A91FF, 0 0 5px #4A91FF;
  box-shadow: 0 0 10px #4A91FF, 0 0 5px #4A91FF;
  box-shadow: 0 0 10px #4A91FF, 0 0 5px #4A91FF;
  box-shadow: 0 0 10px #4A91FF, 0 0 5px #4A91FF;
  box-shadow: 0 0 10px var(--theme-colour-data, #4A91FF), 0 0 5px var(--theme-colour-data, #4A91FF);
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}.Notification__container___QKQT4 {
  position: fixed;
  bottom: 63px;
  bottom: 63px;
  bottom: var(--theme-toolbar-height, 63px);
  left: 0;
  text-align: center;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  transition: all 0.3s ease-out;
  z-index: 100;
}

.Notification__container-visible___1uOiS {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.Notification__notification___3rLf- {
  display: inline-block;
  line-height: 1.25;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  padding: 10px 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.Notification__notification-visible___2FL0C {
  color: red !important;
}

/* Accent: system */
.Notification__notification-system___3rBFC {
  background-color: #ffbf0d;
  background-color: #ffbf0d;
  background-color: var(--theme-colour-system, #ffbf0d);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.Notification__option___1B6NC {
  cursor: pointer;
  margin-left: 10px;
  font-weight: bold;
}

.Notification__option___1B6NC:hover {
  text-decoration: underline;
}
.DocumentEdit__container___3VHu7 {
  padding: 20px 0 80px 0;
}

.DocumentEdit__section___1cGS9 {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.DocumentEdit__section-active___3Ve8l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.DocumentEdit__navigation___3h0F1 {
  padding: 0px 20px 20px 20px;
}

.DocumentEdit__main___PfkXK {
  width: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .DocumentEdit__main___PfkXK:not(.DocumentEdit__main-full___Igcmw) {
    width: 66.6666%;
    width: calc(2 * (100% / 3));
    padding: 10px 10px 10px 20px;  
  }
}

.DocumentEdit__sidebar___2GhUv {
  width: 100%;
  padding: 10px;
}

@media (min-width: 600px) {
  .DocumentEdit__sidebar___2GhUv {
    width: 33.3333%;
    width: calc(100% / 3);
    padding: 10px 20px 10px 10px;
  }
}

.DocumentEdit__field___3VIHe {
  margin-bottom: 20px;
}
.Checkbox__checkbox___2oHX0 {
  outline: none;
  position: relative;
  cursor: pointer;
  text-indent: 30px;
  margin: 5px 3px;
  vertical-align: middle;
  border-radius: 16px;
  width: 26px;
  height: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Checkbox__checkbox___2oHX0:before {
  content: ' ';
  opacity: 1;
  width: 26px;
  height: 16px;
  display: block;
  background-color: #AAAAAA;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  tap-highlight-color: transparent;
  border-radius: 16px;
  box-shadow: 0 0 0 2px #AAAAAA;
}

.Checkbox__checkbox___2oHX0:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 100%;
  transition: all 0.2s ease-out;
}

.Checkbox__checkbox___2oHX0:hover:before,
.Checkbox__checkbox___2oHX0:focus:before {
  background-color: #b7b7b7;
}

.Checkbox__checkbox___2oHX0:checked:before {
  background-color: #88c24c;
  box-shadow: 0 0 0 2px #88c24c;
}

.Checkbox__checkbox___2oHX0:checked:hover:before {
  background-color: #95c85f;
}

.Checkbox__checkbox___2oHX0:checked:focus:before {
  background-color: #7bb63e;
}

.Checkbox__checkbox___2oHX0:checked:after {
  left: 100%;
  margin-left: -16px;
}
.Label__container___2aVIp {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ECEAEA;
  border-radius: 3px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
  padding: 32px 13px 15px;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 13px;
  font-size: 13px;
  font-size: var(--theme-font-size-small, 13px);
  color: #FAFAFA;
  color: #777777;
  color: var(--theme-colour-primary-shade-1, #FAFAFA);
}

.Label__container-compact___19Idf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 13px;
}

.Label__container-compact___19Idf.Label__container-with-comment___172T0 {
  padding: 15px 80px 15px 13px;
}

.Label__container-error___1kkWX {
  background-color: #fef8f8;
  box-shadow: 2px 2px 10px 0 rgba(255, 46, 46, 0.23);
  border-color: #E5462C;
}

.Label__container-error-message___ZkVDk {
  border-top-left-radius: 0;
}

.Label__container-compact___19Idf .Label__label___3lhDs {
  font-size: 15px;
  margin-left: 10px;
}

.Label__container___2aVIp:not(.Label__container-compact___19Idf) .Label__label___3lhDs {
  position: absolute;
  top: 13px;
  left: 14px;
  font-weight: 700;
}

.Label__comment___2DmNo {
  position: absolute;
  top: 13px;
  right: 14px;
}

.Label__container-compact___19Idf .Label__comment___2DmNo {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.Label__error-message___2xXtK {
  display: inline-block;
  background-color: #E5462C;
  color: #FFFFFF;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -23px;
  left: -1px;
}.FieldDateTime__picker___3rzV7 {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 10px;
}.DateTimePicker__container___2PiSU {
  display: inline-block;
  padding: 10px;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid #dddddd;
  border-radius: 4px;
  z-index: 10;
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 16px;
  font-size: 16px;
  font-size: var(--theme-font-size-normal, 16px);
}

.DateTimePicker__arrow___2_Lbg {
  font-family: system-ui;
  font-size: 12px;
  padding: 0;
}

.DateTimePicker__head___2oK3Z {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.DateTimePicker__current-date___1VkZQ {
  font-weight: bold;
}

.DateTimePicker__calendar___2wtZV {
  margin-top: 10px;
}

.DateTimePicker__calendar-head___7Vu5L {
  padding-bottom: 5px;
}

.DateTimePicker__calendar-day___2QacM {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 4px;
  text-align: center;
  width: 100%;
}

.DateTimePicker__calendar-day___2QacM:hover {
  background-color: #AAAAAA;
  background-color: #AAAAAA;
  background-color: var(--theme-colour-background-shade-2, #AAAAAA);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.DateTimePicker__calendar-day-current___1OhGG {
  border-color: #4A91FF;
  border-color: #4A91FF;
  border-color: var(--theme-colour-data, #4A91FF);
}

.DateTimePicker__calendar-day-faded___1uJ8c {
  color: #cccccc;
}

.DateTimePicker__calendar-day-active___3uA1S {
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.DateTimePicker__hours-launcher___Fbrtj {
  border-radius: 3px;
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.DateTimePicker__hours-container___2ZTdS {
  position: relative;
}

.DateTimePicker__hours___7wLP7 {
  background-color: #E4E4E4;
  background-color: #E4E4E4;
  background-color: var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 4px;
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  margin-top: 10px;
  max-height: 160px;
  overflow: scroll;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.DateTimePicker__hours___7wLP7:before,
.DateTimePicker__hours___7wLP7:after {
  border-radius: 4px;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  height: 40px;
  content: ' ';
  display: block;
  z-index: 1;  
}

.DateTimePicker__hours___7wLP7:before {
  background: linear-gradient(to bottom, #aaaaaa, rgba(255, 255, 255, 0));
  top: 0;
}

.DateTimePicker__hours___7wLP7:after {
  background: linear-gradient(to top, #aaaaaa, rgba(255, 255, 255, 0));
  bottom: 0;  
}

.DateTimePicker__hour___3ZX7a {
  padding: 5px;
  width: 100%;
}

.DateTimePicker__hour___3ZX7a:hover {
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}.TextInput__input___3mrPr {
  border: 0;
  display: block;
  width: 100%;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 16px;
  font-size: 16px;
  font-size: var(--theme-font-size-normal, 16px);
  outline: 0;
}

.TextInput__input-in-label___2RaVq {
  background-color: inherit;
}.FieldImage__value-container___1ykda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid #E4E4E4;
  border: 1px solid #E4E4E4;
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.FieldImage__thumbnails___1zmgz {
  margin-right: 20px;
}

.FieldImage__thumbnail___PVBtK {
  display: block;
  border-radius: 3px;
  max-width: 250px;
  width: 100%;
}

.FieldImage__thumbnail___PVBtK + .FieldImage__thumbnail___PVBtK {
  margin-top: 5px;
}

.FieldImage__placeholder___3W9nT {
  padding-top: 5px;
  text-align: center;
}

.FieldImage__upload-options___24iu- {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e4e4e4;
  margin-top: 10px;
  padding-top: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/* Base button */
.Button__button___1Z7Ge {
  display: inline-block;
  position: relative;
  background-color: #fff;
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  line-height: 1.25;
  font-weight: bold;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  padding: 9px 16px;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  transition: background-color 0.1s;
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  text-decoration: none;
  border-radius: 2px;
}

.Button__button-small___34Pp6 {
  font-size: 13px;
  padding: 4px 8px;
}

.Button__button-mock___1sHk4 {
  cursor: default;
  pointer-events: none;
}

.Button__button-inherit___20zZk {
  background-color: inherit;
  color: inherit;
}

.Button__button-in-group-left___282tx {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Button__button-in-group-right___3WRJQ {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Button__button-in-group-middle___yh08J {
  border-radius: 0;
}

/* Accent: system */
.Button__button-system___1RSGq {
  background-color: #ffbf0d;
  background-color: #ffbf0d;
  background-color: var(--theme-colour-system, #ffbf0d);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.Button__button-system___1RSGq:active,
.Button__button-system___1RSGq:focus,
.Button__button-system___1RSGq:hover {
  background-color: #d9a000;
  background-color: #d9a000;
  background-color: var(--theme-colour-system-shade-1, #d9a000);
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}

/* Accent: destruct */
.Button__button-destruct___2w3si {
  background-color: #ffbf0d;
  background-color: #E5462C;
  background-color: var(--theme-colour-error, #ffbf0d);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.Button__button-destruct___2w3si:active,
.Button__button-destruct___2w3si:focus,
.Button__button-destruct___2w3si:hover {
  background-color: #d9a000;
  background-color: #982613;
  background-color: var(--theme-colour-error-shade-1, #d9a000);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: save */
.Button__button-save___jJpfL {
  background-color: #88c24c;
  background-color: #88c24c;
  background-color: var(--theme-colour-save, #88c24c);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.Button__button-save___jJpfL:active,
.Button__button-save___jJpfL:focus,
.Button__button-save___jJpfL:hover {
  background-color: #6ea338;
  background-color: #6ea338;
  background-color: var(--theme-colour-save-shade-1, #6ea338);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: data */
.Button__button-data___3tFgH {
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.Button__button-data___3tFgH:active,
.Button__button-data___3tFgH:focus,
.Button__button-data___3tFgH:hover {
  background-color: #1772ff;
  background-color: #1772ff;
  background-color: var(--theme-colour-data-shade-1, #1772ff);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: neutral */
.Button__button-neutral___17efi {
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.Button__button-neutral___17efi:active,
.Button__button-neutral___17efi:focus,
.Button__button-neutral___17efi:hover {
  background-color: #1772ff;
  background-color: #1772ff;
  background-color: var(--theme-colour-data-shade-1, #1772ff);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Disabled */
.Button__button___1Z7Ge[disabled]:not(.Button__button-inherit___20zZk) {
  background-color: #AAAAAA !important;
  background-color: #AAAAAA !important;
  background-color: var(--theme-colour-background-shade-2, #AAAAAA) !important;
  color: #FFFFFF !important;
  color: #FFFFFF !important;
  color: var(--theme-colour-secondary, #FFFFFF) !important;
  cursor: not-allowed !important;
}.FileUpload__container___1jfB- {
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.FileUpload__file-input___Bx4MZ {
  display: none;
}

.FileUpload__or___1X5U4 {
  margin: 0 10px;
}

.FileUpload__dropzone___2O30L {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.FileUpload__dropzone-active___3FyFd {
    border: 1px solid #4A91FF;
    border: 1px solid #4A91FF;
    border: 1px solid var(--theme-colour-data, #4A91FF);
    background-color: #e3eeff;
    box-shadow: 0 0 14px rgba(0,0,0,.1) inset;
    transition: box-shadow 300ms linear, background-color 300ms linear, border 300ms linear;
}.FieldImageReferenceSelect__column___1on7y {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.FieldImageReferenceSelect__item___2DXuK {
  position: relative;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.05);
  margin: 0 0 15px;
  line-height: 1.1em;
  overflow: hidden;
  cursor: pointer; 
  font-family: sans-serif; 
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif; 
  font-family: var(--theme-font-family, sans-serif);
  border-radius: 4px;
  z-index: 1; /* http://stackoverflow.com/a/24056662 */
}

.FieldImageReferenceSelect__item-image-holder___3-VN9 {
  position: relative;
  height: 0;
  overflow: hidden;
}

.FieldImageReferenceSelect__item-image___2bsmY {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 0; /* http://stackoverflow.com/a/24056662 */
}

.FieldImageReferenceSelect__item___2DXuK:hover .FieldImageReferenceSelect__item-image___2bsmY {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.FieldImageReferenceSelect__item-select___3gTr3 {
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 10px;
}

.FieldImageReferenceSelect__item-overlay___1yHNh {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.8), transparent);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
  padding: 10px 15px 30px;
}

.FieldImageReferenceSelect__item-filename___c5OsQ {
  word-wrap: break-word;
  margin-right: 20px;
}

.FieldImageReferenceSelect__item-info___3INOo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  padding: 11px 15px;
}

.FieldImageReferenceSelect__item-selected___sykkK .FieldImageReferenceSelect__item-info___3INOo {
  background-color: #475160;
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.FieldImageReferenceSelect__item-size___1Bux1 {
  font-weight: bold;
}

.FieldImageReferenceSelect__item-mimetype___1o3NC {
  color: #AAAAAA;
  color: #AAAAAA;
  color: var(--theme-colour-background-shade-2, #AAAAAA);
}.FieldPassword__label___QElo6 + .FieldPassword__label___QElo6 {
  margin-top: 20px;
}.FieldReference__value-container___25HbN {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  border: 1px solid #E4E4E4;
  border: 1px solid #E4E4E4;
  border: 1px solid var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 5px;
  padding: 8px 10px;
}

.FieldReference__value___3tGWj {
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  padding-top: 2px;
}

.FieldReference__placeholder___1vZrQ {
  padding-top: 5px;
  text-align: center;
}.FieldString__dropdown___1Spbq {
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  width: 100%;
  margin-top: 9px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  outline: 0;
}

.FieldString__dropdown-multiple___1eDr5 {
  background-color: #fafafa;
  height: 170px;
}

.FieldString__dropdown-error___Pt05P[multiple] {
  background-color: inherit;
}

.FieldString__dropdown-option___qjX-y {
  padding: 3px 10px;
}

.FieldString__dropdown-option___qjX-y:first-of-type {
  padding-top: 6px;
}.HeroMessage__container___3s5KP {
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  text-align: center;
  position: absolute;
  top: 50%;
  top: 50vh;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.HeroMessage__title___2mPbs {
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  font-weight: bold;
  font-size: 32px;
}

.HeroMessage__subtitle___16Rge {
  color: #777777;
  color: #777777;
  color: var(--theme-colour-primary-shade-1, #777777);
  margin-top: 15px;
}

.HeroMessage__children___1GWUz {
  margin-top: 40px;
}.SubNavItem__sub-nav-item___15kg3 {
  position: relative;
  display: inline-block;
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 16px;
  font-size: 16px;
  font-size: var(--theme-font-size-normal, 16px);
  padding: 15px;
  border-radius: 5px;
}

.SubNavItem__sub-nav-item___15kg3 + .SubNavItem__sub-nav-item___15kg3 {
  margin-left: 5px;
}

.SubNavItem__sub-nav-item___15kg3:hover {
  background-color: rgba(228, 228, 228, 0.6);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.SubNavItem__sub-nav-item-error___3SRd6 {
  color: #E5462C;
  color: #E5462C;
  color: var(--theme-colour-error, #E5462C);
}

.SubNavItem__sub-nav-item-error___3SRd6:after {
  content: ' ';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E5462C;
  background-color: #E5462C;
  background-color: var(--theme-colour-error, #E5462C);
}

.SubNavItem__sub-nav-item-active___2xMZV {
  background-color: #4A91FF;
  background-color: #4A91FF;
  background-color: var(--theme-colour-data, #4A91FF);
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
}.DocumentEditToolbar__metadata___3kdaT {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 13px;
  line-height: 1.3;
  color: #777777;
  color: #777777;
  color: var(--theme-colour-primary-shade-1, #777777);
}

@media (min-width: 600px) {
  .DocumentEditToolbar__metadata___3kdaT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 800px) {
  .DocumentEditToolbar__metadata___3kdaT {
    -webkit-box-flex: 100;
        -ms-flex-positive: 100;
            flex-grow: 100;
    text-align: center;
  }
}

.DocumentEditToolbar__metadata-emphasis___DJAj4 {
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.DocumentEditToolbar__peers___KWI3H {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e4e4e4;
  height: 100%;
  padding: 13px 20px;
}

@media (min-width: 800px) {
  .DocumentEditToolbar__peers___KWI3H {
    display: block;
  }
}

.DocumentEditToolbar__buttons___UamiO {
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
}

@media (min-width: 600px) {
  .DocumentEditToolbar__buttons___UamiO {
    border-left: 1px solid #e4e4e4;
  }
}

.DocumentEditToolbar__button___2csUA {
  display: inline-block;
  margin-left: 5px;
}
/* Container */
.ButtonWithOptions__container___3Eplt {
  display: inline-block;
  position: relative;
}

.ButtonWithOptions__launcher___2uB2w {
  padding: 9px 10px;
}

.ButtonWithOptions__launcher___2uB2w[disabled] {
  background-color: #777777 !important;
  background-color: #777777 !important;
  background-color: var(--theme-colour-primary-shade-1, #777777) !important;
  color: #FFFFFF !important;
  color: #FFFFFF !important;
  color: var(--theme-colour-secondary, #FFFFFF) !important;
  cursor: not-allowed !important;
}

.ButtonWithOptions__options___3wHy6 {
  position: absolute;
  bottom: 100%;
  bottom: calc(100% + 10px);
  left: 0;
}

/* Accent: system */
.ButtonWithOptions__launcher-system___3J5nU {
  background-color: #d9a000;
  background-color: #d9a000;
  background-color: var(--theme-colour-system-shade-1, #d9a000);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.ButtonWithOptions__container___3Eplt:active .ButtonWithOptions__launcher-system___3J5nU,
.ButtonWithOptions__container___3Eplt:focus .ButtonWithOptions__launcher-system___3J5nU,
.ButtonWithOptions__container___3Eplt:hover .ButtonWithOptions__launcher-system___3J5nU {
  background-color: #c08d00;
  background-color: #c08d00;
  background-color: var(--theme-colour-system-shade-2, #c08d00);
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}

/* Accent: save */
.ButtonWithOptions__launcher-save___2qSXS {
  background-color: #6ea338;
  background-color: #6ea338;
  background-color: var(--theme-colour-save-shade-1, #6ea338);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}

.ButtonWithOptions__container___3Eplt:active .ButtonWithOptions__launcher-save___2qSXS,
.ButtonWithOptions__container___3Eplt:focus .ButtonWithOptions__launcher-save___2qSXS,
.ButtonWithOptions__container___3Eplt:hover .ButtonWithOptions__launcher-save___2qSXS {
  background-color: #58822d;
  background-color: #58822d;
  background-color: var(--theme-colour-save-shade-2, #58822d);
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
}.IconArrow__icon___1cB12 {
  display: inline-block;
  vertical-align: middle;
  color: currentColor;
  width: 0;
  height: 0;
  border-style: solid;  
}.ButtonWithPrompt__container___1p_tE {
  display: inline-block;
  position: relative;
}

.ButtonWithPrompt__prompt___1qpIw {
  position: absolute;
  bottom: 100%;
  min-width: 200px;
}

.ButtonWithPrompt__prompt-left___37VkK {
  left: 0;
}

.ButtonWithPrompt__prompt-right___1xv-w {
  right: 0;
  margin-left: -200px;
}.Prompt__container___1Y1mT {
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  border: 1px solid #AAAAAA;
  border: 1px solid #AAAAAA;
  border: 1px solid var(--theme-colour-background-shade-2, #AAAAAA);
  border-radius: 4px;
  box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
  line-height: 1.3;
  padding: 13px;
  margin: 10px;
}

.Prompt__container___1Y1mT:before {
  bottom: -20px;
  border: 10px solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.Prompt__container-left___3jKIR:before {
  left: 20px;
}

.Prompt__container-right___2w1ms:before {
  right: 20px;
}

.Prompt__action___og0gs {
  margin-top: 20px;
}

/* Accent: destruct */
.Prompt__container-destruct___2E8Mf {
  border-color: #E5462C;
  border-color: #E5462C;
  border-color: var(--theme-colour-error, #E5462C);
  background-color: #FEF8F8;
  background-color: #FEF8F8;
  background-color: var(--theme-colour-error-shade-2, #FEF8F8);
}

.Prompt__container-destruct___2E8Mf:before {
  border-top-color: #E5462C;
  border-top-color: #E5462C;
  border-top-color: var(--theme-colour-error, #E5462C);
}.Peer__avatar___3As6- {
  display: inline-block;
  position: relative;
  padding: 9px 16px;
  margin: 0 1px;
}.Toolbar__container___mE4Sx {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 63px;
  height: 63px;
  height: var(--theme-toolbar-height, 63px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
  border-top: 1px solid #e4e4e4;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  z-index: 1000;
}

.Toolbar__container-padded___aV_7C {
  padding: 13px 20px;
}

.Toolbar__input___2Xnqv {
  display: inline-block;
  height: 36px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  padding: 5px 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.3s;
  font-size: 15px;  
}

.Toolbar__input___2Xnqv:focus {
  box-shadow: 0 0 0 4px rgba(74, 145, 255, 0.1);
  border-color: #4a91ff;
  color: #404040;  
}
.Page__container___1Lfji {
  height: 100%;
}.DocumentListView__container___1p1p5 {
  padding-bottom: 80px;
}/*
 * Table
 */
.Table__table___37tHI {
  display: inline-block;
  font-size: 14px;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  overflow: hidden;
  overflow-x: auto;
  max-width: 100%;
}

/*
 * Table cell (generic)
 */
.Table__cell___1ce6E {
  cursor: default;
  padding: 15px;
  overflow: hidden;
  word-wrap: break-word;
  vertical-align: middle;
  width: 10%;
  line-height: 1.3;
}

/*
 * Table head
 */
.Table__head___3UKRI {
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  vertical-align: middle;
}

.Table__head-cell___2xFap {
  padding: 12px 0 10px 15px;
}

.Table__head-cell-label___2MzqB {
  vertical-align: middle;
}

.Table__head-cell-arrow___1LGkD {
  margin-right: 5px;
}

/*
 * Table row
 */
.Table__row___UCuDx {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08) inset;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  background-color: var(--theme-colour-background, #FFFFFF);
  color: #000000;
  color: #000000;
  color: var(--theme-colour-primary, #000000);
}

.Table__row___UCuDx a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #eee;
}

.Table__row___UCuDx:nth-child(even) {
  background-color: #FAFAFA;
  background-color: #FAFAFA;
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
}

.Table__row___UCuDx:hover {
  background-color: #EBF5F9;
}

.Table__row___UCuDx:hover a {
  border-bottom-color: #4A91FF;
  border-bottom-color: #4A91FF;
  border-bottom-color: var(--theme-colour-data, #4A91FF);
}

.Table__row-cell-blank___1ygoH {
  color: #AAAAAA;
  color: #AAAAAA;
  color: var(--theme-colour-background-shade-2, #AAAAAA);
}

.Table__row-selected___16j5O {
  background-color: #79879b !important;
  color: #FFFFFF !important;
  color: #FFFFFF !important;
  color: var(--theme-colour-secondary, #FFFFFF) !important;
}

/*
 * Select checkbox
 */
.Table__select-cell___10H9i {
  width: 1%;
}

.Table__select___2ajlq {
  border-radius: 3px;
}

.Table__row___UCuDx:hover .Table__select___2ajlq,
.Table__head___3UKRI:hover .Table__select___2ajlq {
  box-shadow: 0 0 0 3px rgba(74, 145, 255, 0.3);
}.DocumentFilters__filters___2v5Wt {
  background-color: #DDDDDD;
  background-color: #EEEEEE;
  background-color: var(--theme-colour-background-shade-3, #DDDDDD);
  padding: 1px 20px;
}

.DocumentFilters__submit___1cv75 {
  padding-bottom: 10px;
  text-align: right;
}.DocumentFilter__filter___Y3X9z {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DocumentFilter__select___2lCIV {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50;
  border: 0;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  background-color: #ffffff;
  -webkit-appearance: menulist-button;
  margin-left: 5px;
}

.DocumentFilter__input___qyYeY {
  width: 50%;
  border-radius: 4px;
  border: 1px solid #e4e4e4;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input:focus {
  border-color: #4a91ff;
}

.DocumentFilter__small-button___3UcHH {
  padding: 3px 0;
  width: 25px;
}

.DocumentFilter__control-field___3kjsG {
  -webkit-box-flex: 30;
      -ms-flex-positive: 30;
          flex-grow: 30;
}

.DocumentFilter__control-analyser___1kTaB {
  margin: 10px;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}

.DocumentFilter__control-value___59rzt {
  -webkit-box-flex: 50;
      -ms-flex-positive: 50;
          flex-grow: 50;
  margin-right: 10px;
}

.DocumentFilter__filter-container___1eid7 {
  -webkit-box-flex: 70;
      -ms-flex-positive: 70;
          flex-grow: 70;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}.ListController__container___FU2i3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #DDDDDD;
  background-color: #EEEEEE;
  background-color: var(--theme-colour-background-shade-3, #DDDDDD);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  padding: 15px 20px;
}

.ListController__control___2Sp4C {
  display: inline-block;
}

.ListController__control___2Sp4C + .ListController__control___2Sp4C {
  margin-left: 10px;
}

.ListController__search___2ycmy {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.02);
  min-width: 300px;
  max-width: 100%;
  height: 36px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
.DocumentListToolbar__information___3Zb7s {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .DocumentListToolbar__information___3Zb7s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.DocumentListToolbar__count-label___2G04G {
  margin-left: 15px;
}

.DocumentListToolbar__section___2lf-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.DocumentListToolbar__select___2BcRm {
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 7px;
  outline: 0;
}

.DocumentListToolbar__select-button___2fF08 {
  margin-left: 10px;
}

.DocumentListToolbar__page-input___xumq_ {
  width: 100px;
  text-align: center;
}

.DocumentListToolbar__actions___2VZRk {
  display: none;
}

@media (min-width: 800px) {
  .DocumentListToolbar__actions___2VZRk {
    display: block;
  }
}.Paginator__page___w0PUP {
  font-weight: normal;
  margin: 0 1px;
}

.Paginator__page-secondary___tfx0B {
  color: #AAAAAA;
  color: #AAAAAA;
  color: var(--theme-colour-background-shade-2, #AAAAAA);
}.ReferencedDocumentHeader__container___2o6Cu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #17273F;
  background-color: #17273F;
  background-color: var(--theme-colour-secondary-background, #17273F);
  padding: 14px 20px;
  color: #FFFFFF;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #FFFFFF);
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  line-height: 1.25;
}.Banner__banner___2H-0j {
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.Banner__banner-error___3eRVd {
  background-color: #E5462C;
  background-color: #E5462C;
  background-color: var(--theme-colour-error, #E5462C);
  color: #ffffff;
}.PasswordResetView__wrapper___10Qc9 {
  background: #000000 url(/images/bg.jpg);
  background-size: cover;
  height: 100%;
  height: 100vh;
}

.PasswordResetView__overlay___2ieTS {
  background-color: rgba(11, 19, 31, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  height: 100vh;
}

.PasswordResetView__container___2TQ_h {
  max-width: 750px;
  padding: 20px;
  width: 100%;
}

.PasswordResetView__logo___6aNy- {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}

.PasswordResetView__inputs___2mdGo {
  margin: 0 0 40px -20px;
}

.PasswordResetView__input___14wHO {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
}

.PasswordResetView__link___2OmyX {
  display: inline-block;
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
  line-height: 1.25;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  text-decoration: none;
  margin-left: 13px;
}

.PasswordResetView__link___2OmyX:hover {
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}.SignIn__wrapper___2cSLh {
  background: #000000 url(/images/bg.jpg);
  background-size: cover;
  height: 100%;
  height: 100vh;
}

.SignIn__overlay___vWzEd {
  background-color: rgba(11, 19, 31, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  height: 100vh;
}

.SignIn__container___1-lA6 {
  max-width: 750px;
  padding: 20px;
  width: 100%;
}

.SignIn__logo___1uT09 {
  display: block;
  height: 50px;
  margin-bottom: 30px;
}

.SignIn__inputs___2tmS2 {
  margin: 0 0 40px -20px;
}

.SignIn__input___2DZO1 {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  padding-left: 20px;
}

@media (min-width: 600px) {
  .SignIn__input___2DZO1 {
    width: 50%;
  }
}

.SignIn__link___2HDup {
  display: inline-block;
  color: #ffffff;
  color: #FFFFFF;
  color: var(--theme-colour-secondary, #ffffff);
  line-height: 1.25;
  font-family: sans-serif;
  font-family: 'Karla', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  text-decoration: none;
  margin-left: 13px;
}

.SignIn__link___2HDup:hover {
  color: #ffbf0d;
  color: #ffbf0d;
  color: var(--theme-colour-system, #ffbf0d);
}.ProfileEditToolbar__container___2ldLJ {
  text-align: right;
  width: 100%;
}
