.filter-input {
  border: 1px solid var(--theme-colour-background-shade-4, #e4e4e4) !important;
  border-radius: 4px !important;
  font-size: var(--theme-font-size-small, 13px) !important;
  padding: 8px !important;
}

.list-link {
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px var(--edit-color-underline);
}

.list-link:hover {
  border-bottom-color: var(--edit-color-underline-hover);
}

.with-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.free-input-wrapper {
  display: flex;
  margin: -10px 0 0 -10px;
}

.free-input-wrapper > * {
  margin: 10px 0 0 10px;
}

.free-input-wrapper input {
  flex: 1;
}

#open-icon {
  font-size: var(--edit-icon-size-sm);
  margin-left: var(--edit-margin-xxs);
}
