.dadiCells__field-droparea {
	border: 1px dashed rgba(#000,0.2);
	background: #fff;
	background: rgba(#fff, 0.4);
	border-radius: $radius * 2;
	padding: $margin * 2 0;
	cursor: pointer;
	color: $grey;
	transition: $transition-primary-on;

	&:hover, &.dragover {
		border-color: $blue;
		border-color: rgba(#000,0.8);
		color: $text;
		cursor: copy;
	}
	&.dragover {
		transform: scale(0.98);
	}
	&.drop {
		animation-name: pulse;
		animation-duration: 0.25s;
		transform-origin:70% 70%;
		animation-iteration-count: 1;
		animation-timing-function: linear;
		cursor: wait;
	}

	.fallback {
		display: none;
	}

	&__instructions {
		user-select: none;
		pointer-events: none;

		.dz-started & {
			display: none;
		}
	}
}