.dadiCells-history {

	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	z-index: 2;

	&__sidebar {
		position: fixed;
		top: 86px;
		padding-top: 25px;
		right: 15px;
		bottom: 15px;
		box-shadow: -1px 0 5px rgba($black,0.15);
		z-index: 1;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	&__revision {
		padding: 65px 0;
		font-family: $font-mono;

		p {
			@include rem(line-height,22px);
		}
		h1,h2,h3,h4,p {
			font-family: $font-mono !important;
		}
	}

	.modal__header,
	.modal__footer {
		position: fixed;
		bottom: 15px;
		right: 34%;
		left: 15px;
	}
	.modal__header {
		right: 15px;
		bottom: auto;
		top: 15px;
		z-index: 1;
	}

	.modal__footer {
		background: rgba(#fff,0.97);
	}

	.list--keyval li {
		cursor: pointer;

		&.on {
			background: $dark-blue;
			color: #fff;
		}
		&:hover .hdr {
			color: $blue;
		}
	}
}
