.dadiCells-library {
	padding: $margin 0 50px $margin * 2;
	z-index: 2;
	box-sizing: border-box;
	user-select: none;
	-webkit-overflow-scrolling: touch;

	@media #{$break-small} { display: none; }
 
	.appNav & 		 { left: $nav; }
    .editorLibrary & { display: block; }

    .truncate {
    	white-space: nowrap;
    	max-width: 120px;
    	text-shadow: none;
    	transition: max-width 0.4s ease-in-out;

    	&:hover {
    		max-width: 500px;
    	}
    }

	li {
		user-select: none;
		list-style: none;

		div {
			margin-bottom: 5px;
			border-left: 1px dotted $bdr-grey;
		}
		
		&:hover {
			a {
				color: $user-accent
			}
			div {
				border-left: 1px solid $user-accent
			}
		}

		a {
			padding: 5px 0;
			display: block;
			color: $grey;
			font-weight: bold;

			&:hover {
				color: $user-accent;
			}
		}
	}
	&__element {
		list-style: none;
		margin: 4px 13px;
		position: relative;
		transition: border 0.2s linear;
		cursor: grab;

		.icon {
			vertical-align: middle;
			font-size: 0.8em;
			margin-right: 3px;
			margin-left: 0;
		}
	}
}