$dadiCells-transition: 0.25s ease;

@media #{$break-large} {

	body.editor {
		background: $light-grey;
	}
	.dadiCellsWrap {
		margin: 0 200px;
	}
	.dadiCells {
		max-width: 700px;
		margin: 0 auto 100px;
		padding-top: 30px;

		/*&--small { max-width: 500px }
		&--medium { max-width: 700px }
		&--large { max-width: 1000px }*/
	}
	
}

.gu-mirror {
	position: fixed !important;
	margin: 0 !important;
	z-index: 9999 !important;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	padding: 0;
	margin: 0;
	list-style: none;
	cursor: grabbing !important;
	user-select: none !important;
}
.gu-hide {
	display: none !important;
}
.gu-unselectable {
	user-select: none !important;
}
.gu-transit {
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	padding: 0;
	margin: 0;
	list-style: none;
	cursor: grabbing !important;
	user-select: none !important;
}


// Interface elements
@import "info";
@import "meta";
@import "minimap";
@import "library";
@import "history";
@import "quill";
@import "drop";

// Sections
@import "section";

// Fields
@import "field";
@import "field_counter";
@import "field_toolbar";
//@import "field_placeholder";

// Fields themselves
@import "cell";
@import "cells/text";
//@import "cells/quote";
@import "cells/list";
@import "cells/rating";
//@import "cells/image";
//@import "cells/oembed";