.dadiCells-minimapWrap {
	position: fixed;
	top: $margin * 2; right: $margin * 2;
	width: 160px;
	z-index: 9;
	box-sizing: border-box;
	user-select: none;

    body.hideminimap & {
    	display: none;
    }
}
.dadiCells-minimapViewportWrap {
	position: absolute !important;
	left: auto !important;
	top: 0;
	height: 0px;
}
.dadiCells-minimapViewport {
	background: rgba(0,0,0,0.2);
	width: 700px;
	height: 100vh;
	display: block;
	transform: scale(0.2);
	transform-origin: 0 0;
	z-index: 1;
	border-radius: 25px;
	/*cursor: grab;

	&:active {
		cursor: grabbing;
	}*/
}
.dadiCells-minimap {
	position: relative;
	z-index: 0;
	display: block;
	width: 100%;
	border-radius: $radius;
	border: 1px solid $bdr-grey;
	padding: 0 50px;
	overflow: hidden;
	border-radius: 30px;
	width: 700px;
	transform: scale3d(0.2,0.2,0.2);
	transform-origin: 0 0;
	pointer-events: none;
	user-select: none;
	filter: blur(2px);
	box-sizing: border-box;

	.dadiCells {
		margin-left: 0;
		margin-right: 0;
	}
	.dadiCells__counter {
		display: none;
	}
	img {
		filter: grayscale(1);
	}
}

@media #{$break-small} {
.dadiCells-minimapWrap {
	display: none;
}
}