.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px;
  position: relative;
  padding: 0 var(--edit-margin-md);
}

@media (min-width: 700px) {
  .container {
    padding: 0 0 0 110px;
  }

  .container:before {
    content: ' ';
    position: absolute;
    top: 25px;
    left: 0;
    width: 90px;
    border-top: 1px solid var(--edit-color-brand);
  }
}

.container h1 {
  font-size: var(--edit-font-size-heading-1);
  margin-bottom: var(--edit-margin-sm);
  color: var(--edit-color-primary);
}

.container p {
  font-size: var(--edit-font-size-lg);
  color: var(--edit-color-text-2);
}
