.container {
  display: block;
  position: relative;
}

.container-desktop {
  display: inline-block;
}

.container-expanded {
  color: red !important;
}

.nav-item {
  position: relative;
  z-index: 2;
  display: inline-block;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  color: var(--theme-colour-secondary, #ffffff);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.container-expanded .nav-item {
  background-color: var(--theme-colour-background-shade-1, #FAFAFA);
  color: var(--theme-colour-primary, #000000);
}

.nav-item-active {
  text-shadow: 0px 0px 1px var(--theme-colour-system, #ffbf0d);
  color: var(--theme-colour-system, #ffbf0d);
}

.container-desktop .children {
  display: none;
  position: absolute;
  min-width: 180px;
  top: 100%;
  top: calc(100% - 3px);
}

.container-expanded .children {
  display: block;
}
