.wrapper {
  border-top: 1px solid #282f39;
  background-image: linear-gradient(-180deg, #0b131f 10%, #17273f 100%); 
  display: flex;
  padding: 15px 20px;
}

.actions {
  margin-left: 10px;
}

@media (--breakpoint-medium) {
  .actions {
    margin-left: 0;
    padding-left: 10px;
  }

  .wrapper {
    display: flex;
  }

  .filters {
    flex-grow: 1;
  }
}

.new-button-large {
  display: none;
}

@media (--breakpoint-medium) {
  .new-button-large {
    display: block;
  }

  .new-button-small {
    display: none;
  }
}
