.container {
  display: flex;
  justify-content: space-between;
  background-color: var(--theme-colour-background-shade-3, #DDDDDD);
  font-family: var(--theme-font-family, sans-serif);
  padding: 15px 20px;
}

.control {
  display: inline-block;
}

.control + .control {
  margin-left: 10px;
}