.container {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  background-color: var(--theme-colour-background-shade-3, #DDDDDD);
  font-family: var(--theme-font-family, sans-serif);
  padding: 15px 20px;
}

.control {
  display: inline-block;
}

.control + .control {
  margin-left: 10px;
}

.search {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.02);
  min-width: 300px;
  max-width: 100%;
  height: 36px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}
