.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--theme-font-family, sans-serif);
  padding: 15px 20px;
  color: #ffffff;
  border-top: 1px solid #282f39;
  background-image: linear-gradient(-180deg, #0b131f 10%, #17273f 100%);
  z-index: 1000;
  position: relative;
}

.control + .control {
  margin-top: 10px;
}

.search {
  border: 1px solid #dddddd;
  border-radius: 2px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.02);
  min-width: 300px;
  max-width: 100%;
  height: 36px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
}

.breadcrumbs-head {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom:  var(--theme-colour-system, #ffbf0d) 1px solid;
}

.breadcrumbs-tail {
  color: #fff;
}

.arrow {
  color: var(--theme-colour-primary-shade-2, #AAAAAA);
  padding: 0 0.5em 0 0.5em;
}

@media (--breakpoint-medium) {
  .control {
    display: inline-block;
  }

  .control + .control {
    margin-left: 10px;
    margin-top: 0px;
  }
}