@import '../../assets/scss/main.scss';

.Modal,
.overlayContainer {
  @extend .flexc;
  position: fixed;
  top: 100%; right: 0; bottom: 0; left: 0;
  height: 100%;
  background: rgba($dark-blue,0.9);
  transform-style: preserve-3d;
  opacity: 0;
  transition: opacity 0.2s;
  padding: $margin;
  box-sizing: border-box;

  @extend .overflow-touch;

  &.on {
    top: 0;
    opacity: 1;
    z-index: 100;
  }
}
.modal {
  @extend .flexc__item;
  background: #fff;
  box-shadow: 0 0 0 5px rgba($black,0.1);
  max-width: 550px;
  position: relative;
  border-radius: $radius;

  &--full {
    max-width: none;
    margin: 15px;
    @extend .overflow-touch;
  }
  &--inline {
    box-shadow: 0 0 5px 5px rgba($black,0.05);
    border: 1px solid $bdr-grey;
    max-width: none;
    flex: none;
  }
  
  &__header {
    border-bottom: 1px dotted $bdr-grey;
    background: $light-grey;
    padding: $margin * 1.5 $margin * 2;
    border-radius: $radius $radius 0 0;

    &--bold {
      background: $user-accent;
      color: #fff;
      box-shadow: 0 1px 5px rgba($black,0.15), inset 0 -2px 0 rgba(#000,0.1);
      border-bottom: none;
    }
  }
  &__desc {
    margin: 10px 0 0 0;
  }
  &__footer {
    border-top: 1px dotted $bdr-grey;
    background: $light-grey;
    padding: $margin * 1.5 $margin * 2;
    border-radius: 0 0 $radius $radius;
  }
  &__aside {
    @media #{$break-large} {
      float: right;
    }
  }
  &__outside {
    position: absolute;
    padding: $margin + 3px 0 0 0;
    right: 0; left: 0;
    top: 100%;
    color: rgba(#fff,0.3);

    a:hover {
      color: rgba($blue,1);
    }
  }
  &__body {
    padding: $margin * 1.5 $margin * 2 $margin;
  }
}


.overlay {
  position: absolute;
  width: 80%;
  top: 0; right: 0; bottom: 0;
  z-index: 101;
  background: rgba(#fff,0.97);
  float: left;
  white-space: nowrap;
}
.overlay__pane {
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  height: 100%;
  @extend .overflow-touch;

  &.off {
    width: 31px;
    height: 100%;
  }
}
.overlay__content {
  padding: $margin;
  margin-left: 31px;
}
.overlay__nav {
  position: absolute;
  top: 0; left: 0; bottom: 0;
  background-image: linear-gradient(to left, rgba($blue, 1) 0%, darken($blue, 2%) 100%);
  width: 30px;
  z-index: 1;
  color: #fff;
  border-right: 1px solid #fff;

  span {
    transform: rotate(90deg);
    display: block;
    margin: 8px;
  }
}