@import '../../main.css';

.container {
  display: inline-flex;
  position: relative;
}

.mainButton {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sideButton {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding: 0 !important;
  width: 40px !important;
}

.sideButton:not(:disabled) {
  background-color: var(--edit-color-positive-darker-1) !important;
  border-color: var(--edit-color-positive-darker-1) !important;
}

.lift {
  z-index: calc(var(--edit-z-index-dropdown) + 1) !important;
}

.dropdown {
  position: absolute;
  z-index: var(--edit-z-index-dropdown);
  bottom: calc(100% - 5px);
  left: 0;
  width: 100%;
  box-sizing: border-box;
  border: solid var(--edit-border-width-standard) var(--edit-color-positive);
  border-radius: var(--edit-radius-standard);
  background-color: var(--edit-color-background-1);
}

.dropdownItem {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--edit-transition-duration-standard);
  height: var(--edit-elem-height-medium);
  color: var(--edit-color-positive);
  font-weight: 700;
  text-transform: uppercase;
}

.dropdownItem:hover {
  background-color: var(--edit-color-positive-hint);
}

.filler {
  height: 5px;
}
