.header {
  margin: -4px 0 var(--edit-font-size-medium) -8px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-compact .header {
  margin: -4px 0 0 2px; /* -8px for gutter + 10px actual margin */
  flex: 1;
  align-items: center;
}

.header > div {
  margin: 4px 0 0 8px;
}

.container-compact {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  cursor: pointer;
}

.label {
  color: var(--edit-color-heading);
}

.comment {
  color: var(--edit-color-text-2);
  font-size: var(--edit-font-size-small);
}

.error-message-container {
  color: var(--edit-color-negative);
}

.error-message-icon {
  margin-right: var(--edit-margin-xxs) !important;
  vertical-align: middle !important;
}

.error-message-text {
  vertical-align: middle;
}
