{
  "app": {
    "name": "DADI Publish",
    "publisher": "Publisher Name",
    "baseUrl": "http://127.0.0.1"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 3003
  },
  "apis": [
  ],
  "auth": {
    "enabled": false
  }
}
