{
  "app": {
    "name": "DADI Publish",
    "publisher": "Publisher Name"
  },
  "publicUrl": {
      "host": "127.0.0.1",
      "port": 443,
      "protocol": "https"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 3003
  },
  "apis": [
  ],
  "auth": {
    "enabled": false
  }
}
