.checkbox {
  --checkbox-padding: 0px;
  --checkbox-width: calc(40px + 2 * var(--checkbox-padding));
  --checkbox-height: calc(20px + 2 * var(--checkbox-padding));
  --checkbox-radius: calc(var(--checkbox-height) / 2);
  --handle-gap: calc(4px + var(--checkbox-padding));
  --handle-diameter: calc(var(--checkbox-height) - 2 * var(--handle-gap));

  display: block;
  outline: none;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: var(--checkbox-padding);
  width: var(--checkbox-width);
  height: var(--checkbox-height);
  border-radius: var(--checkbox-radius);
  appearance: none;
  background: none;
  border: none;
}

.checkbox:before {
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
  tap-highlight-color: transparent;
  border-radius: var(--checkbox-radius);
  transition: background-color var(--edit-transition-duration-standard);
}

.checkbox:after {
  content: ' ';
  position: absolute;
  top: var(--handle-gap);
  left: var(--handle-gap);
  display: block;
  width: var(--handle-diameter);
  height: var(--handle-diameter);
  background-color: var(--edit-color-background-1);
  border-radius: 100%;
  transition: left var(--edit-transition-duration-long) ease-out;
}

.checkbox:before {
  background-color: var(--edit-color-off);
}

.checkbox:hover:checked:before,
.checkbox:focus:checked:before {
  background-color: var(--edit-color-positive-darker-1);
}

.checkbox:checked:before {
  background-color: var(--edit-color-positive);
}

.checkbox:checked:after {
  left: calc(100% - var(--handle-diameter) - var(--handle-gap));
}

.checkbox:disabled {
  cursor: not-allowed;
}
