.container {
  display: inline-block;
  padding: 10px;
  background-color: var(--theme-colour-background, #FFFFFF);
  box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid #dddddd;
  border-radius: 4px;
  z-index: 2000;
  color: var(--theme-colour-primary, #000000);
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
}

.arrow {
  font-family: system-ui;
  font-size: 12px;
  padding: 0;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.current-date {
  font-weight: bold;
}

.calendar {
  margin-top: 10px;
}

.calendar-head {
  padding-bottom: 5px;
}

.calendar-day {
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  padding: 2px 4px;
  text-align: center;
  width: 100%;
}

.calendar-day:hover {
  background-color: var(--theme-colour-background-shade-2, #AAAAAA);
  color: var(--theme-colour-secondary, #FFFFFF);
}

.calendar-day-current {
  border-color: var(--theme-colour-data, #4A91FF);
}

.calendar-day-faded {
  color: #cccccc;
}

.calendar-day-active {
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #FFFFFF);
}

.hours-launcher {
  border-radius: 3px;
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #FFFFFF);
  cursor: pointer;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.hours-container {
  position: relative;
}

.hours {
  background-color: var(--theme-colour-background-shade-4, #E4E4E4);
  border-radius: 4px;
  color: var(--theme-colour-primary, #000000);
  margin-top: 10px;
  max-height: 160px;
  overflow: scroll;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

.hours:before,
.hours:after {
  border-radius: 4px;
  position: absolute;
  right: 0;
  left: 0;
  pointer-events: none;
  height: 40px;
  content: ' ';
  display: block;
  z-index: 1;  
}

.hours:before {
  background: linear-gradient(to bottom, #aaaaaa, rgba(255, 255, 255, 0));
  top: 0;
}

.hours:after {
  background: linear-gradient(to top, #aaaaaa, rgba(255, 255, 255, 0));
  bottom: 0;  
}

.hour {
  padding: 5px;
  width: 100%;
}

.hour:hover {
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #FFFFFF);
}