.container {
  padding-bottom: calc(2px + var(--theme-toolbar-height));
}

.section {
  display: none;
  flex-wrap: wrap;
}

.section-active {
  display: flex;
}

.navigation {
  margin-left: 40px;
  display: flex;
}

.main {
  width: 100%;
  background-color: white;
  border-bottom: solid 2px var(--edit-color-background-3);
}

.main,
.sidebar {
  padding: 40px;
}

@media (min-width: 600px) {
  .main:not(.main-full) {
    width: 66.6666%;
    margin-left: auto;
    width: calc(2 * (100% / 3));
    border-right: solid 2px var(--edit-color-background-3);
    border-bottom: none;
  }
}

.sidebar {
  width: 100%;
  background-color: white;
}

@media (min-width: 600px) {
  .sidebar {
    width: 33.3333%;
    width: calc(100% / 3);
  }
}

.field {
  margin-bottom: 18px;
}
