.section {
  display: none;
  flex-wrap: wrap;
  height: 100%;
}

.section-active {
  display: flex;
}

.mobile-navigation {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 var(--edit-margin-lg);
  height: 50px;
  color: var(--edit-color-heading);
  font-size: var(--edit-font-size-nav);
  letter-spacing: var(--edit-spacing-nav);
  background-color: var(--edit-color-background-1);
  border-bottom: var(--edit-border-width-standard) solid
    var(--edit-color-border-light);
  cursor: pointer;
}

.icon svg {
  transition: transform var(--edit-transition-duration-long) !important;
  color: var(--edit-color-text-2);
  vertical-align: middle;
  margin-right: -6px;
}

.mobile-navigation.is-open .icon svg {
  transform: rotate(180deg);
}

.dropdown {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: var(--edit-z-index-dropdown);
  padding-bottom: var(--edit-margin-xxs);
  box-shadow: var(--edit-shadow-4px-bottom);
  background-color: var(--edit-color-background-1);
}

.navigation {
  margin-left: var(--edit-margin-lg);
  display: none;
}

@media (min-width: 768px) {
  .mobile-navigation {
    display: none;
  }

  .navigation {
    display: flex;
  }
}

.main {
  width: 100%;
  background-color: white;
  border-bottom: solid 2px var(--edit-color-background-3);
}

.main,
.sidebar {
  padding: var(--edit-margin-lg);
}

@media (min-width: 1024px) {
  .main,
  .sidebar {
    padding: var(--edit-margin-xxl);
  }

  .navigation {
    margin-left: var(--edit-margin-xxl);
  }
}

.sidebar {
  width: 100%;
  background-color: white;
}

@media (min-width: 768px) {
  .main:not(.main-full) {
    width: 66.6666%;
    margin-left: auto;
    width: calc(2 * (100% / 3));
    border-right: solid 2px var(--edit-color-background-3);
    border-bottom: none;
  }

  .sidebar {
    width: 33.3333%;
    width: calc(100% / 3);
  }
}

.field {
  margin-bottom: 18px;
}
