.container {
  outline: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.file-input {
  display: none;
}

.label-file {
  font-weight: bold;
  color: var(--theme-colour-data, #4A91FF);
  cursor: pointer;
}