.container {
  outline: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.file-input {
  display: none;
}

.or {
  margin: 0 10px;
}

.dropzone {
  align-items: center;
  display: flex;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dropzone-active {
    border: 1px solid var(--theme-colour-data, #4A91FF);
    background-color: #e3eeff;
    box-shadow: 0 0 14px rgba(0,0,0,.1) inset;
    transition: box-shadow 300ms linear, background-color 300ms linear, border 300ms linear;
}