.wrapper {
  background-color: #04111d;
  background-size: cover;
  height: 100%;
  height: 100vh;
}

.overlay {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 100vh;
}

.container {
  max-width: 500px;
  padding: 20px;
  width: 100%;
  margin: auto;
}

.logo {
  display: block;
  height: 50px;
  margin: 0 auto 40px;
}

.powered-by {
  margin-top: 10px;
  color: var(--theme-colour-secondary, #ffffff);
  font-family: var(--theme-font-family, sans-serif);
}

.powered-by a {
  font-weight: bolder;
}

.inputs {
  margin: 0 0 30px -20px;
}

.input {
  display: inline-block;
  width: 100%;
  margin-top: 1px;
  padding-left: 20px;
}

.input label {
  border: 0;
  border-radius: 0 0 3px 3px;
}
.input:first-of-type label {
  border-radius: 3px 3px 0 0;
}

.link {
  display: inline-block;
  color: var(--theme-colour-secondary, #ffffff);
  line-height: 1.25;
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  text-decoration: none;
  margin-left: 13px;
}

.link:hover {
  color: var(--theme-colour-system, #ffbf0d);
}

.container button {
  width: 100%
}