.grid {
  --padding: var(--edit-margin-xs);
  --padding-side: calc(var(--edit-margin-lg) - var(--padding));

  display: flex;
  flex-flow: row wrap;
  padding: var(--padding) var(--padding-side);
}

@media (min-width: 1024px) {
  .grid {
    --padding-side: calc(var(--edit-margin-xxl) - var(--padding));
  }
}

.card {
  --width: 100%;

  position: relative;
  height: 0;
  width: var(--width);

  /*
  https://css-tricks.com/aspect-ratio-boxes/

  Just doing `100%` here doesn't work because it takes 100% of the width
  *before* applying media queries, for some reason.
  */
  padding-bottom: var(--width);
}

@media (min-width: 600px) {
  .card {
    --width: calc(100% / 2);
  }
}
@media (min-width: 900px) {
  .card {
    --width: calc(100% / 3);
  }
}
@media (min-width: 1200px) {
  .card {
    --width: calc(100% / 4);
  }
}
@media (min-width: 1500px) {
  .card {
    --width: calc(100% / 5);
  }
}
@media (min-width: 1800px) {
  .card {
    --width: calc(100% / 6);
  }
}
@media (min-width: 2100px) {
  .card {
    --width: calc(100% / 7);
  }
}
@media (min-width: 2400px) {
  .card {
    --width: calc(100% / 8);
  }
}
@media (min-width: 2700px) {
  .card {
    --width: calc(100% / 9);
  }
}
@media (min-width: 3000px) {
  .card {
    --width: calc(100% / 10);
  }
}

.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--padding);
}
