.metadata {
  font-size: var(--edit-font-size-small);
}

@media (min-width: 600px) {
  .metadata {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media (min-width: 800px) {
  .metadata {
    flex-grow: 1;
  }
}

.peers {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e4e4e4;
  height: 100%;
  padding: 13px 20px;
}

@media (min-width: 800px) {
  .peers {
    display: block;
  }
}

.buttons {
  margin-top: 10px;
}
@media (min-width: 600px) {
  .buttons {
    margin-top: 0;
  }
}

.button {
  display: inline-block;
  margin-right: 5px;
  margin-left: 0;
}
@media (min-width: 600px) {
  .button {
    margin-left: 10px;
    margin-right: 0;
  }
}

.language-dropdown {
  margin-right: 16px;
}
