.enabled:before,
.disabled:before {
  content: ' ';
  display: inline-block;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  border: 1px solid #ccc;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
}
.enabled:before {
  border-color: var(--theme-colour-save);
  background-color: var(--theme-colour-save);
}
