@import '../../assets/scss/main.scss';

$borderColour: #aaaaaa;
$hoverColour: #eeeeee;

.Select {
  input {
    width: 100%;
    padding: 4px;
    outline: none;
    border: 1px solid $borderColour;
    cursor: pointer;
  }

  ul.menu {
    width: 100%;
    list-style: none;
    padding: 4px;
    border-left: 1px solid $borderColour;
    border-right: 1px solid $borderColour;
    border-bottom: 1px solid $borderColour;

    li {
      display: block;
      padding: 2px;
      cursor: pointer;

      &:hover {
        background: $hoverColour;
      }

      &.active {
        background: $hoverColour;
        font-weight: bold;
      }
    }
  }
}
