.container {
  position: relative;
  display: inline-block;
}

.nav-item {
  display: block;
  margin: var(--edit-margin-sm);
  text-transform: uppercase;
  font-weight: 700;
  transition: all var(--edit-transition-duration-standard);
}

.nav-item:not(.active):hover,
.container.expanded .nav-item:not(.active) {
  color: var(--edit-color-text-inverse-1);
}

.nav-item.active {
  color: var(--edit-color-positive);
}

.container .children {
  display: none;
}

.container.expanded .children {
  display: block;
}
