.container {
  --icon-margin-left: 4px;
  --icon-margin-right: -6px;
  --icon-size: var(--edit-icon-size-md);
  --select-padding: var(--edit-margin-md);
  --height: var(--edit-elem-height-medium);

  position: relative;
}

.container.multiple:not(.native) {
  padding-left: var(--select-padding);
}

.container.multiple {
  padding-top: var(--edit-margin-xs);
}

.select {
  transition: all var(--edit-transition-duration-standard);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: solid var(--edit-border-width-standard) var(--edit-color-border-light);
  background-color: var(--edit-color-background-2);
  border-radius: var(--edit-radius-input);
  outline: 0;
  appearance: none;
  width: 100%;
}

.container:not(.inFieldComponent):not(.open) .select:not(:hover) {
  color: var(--edit-color-text-2);
}

.container.multiple .select {
  padding: var(--edit-margin-xxs) var(--select-padding);
}

.container:not(.multiple) .select {
  height: var(--height);
  padding: 0 var(--select-padding);
}

.container.native:not(.multiple) .select {
  padding-right: calc(
    var(--select-padding) + var(--icon-size) + var(--icon-margin-left) +
      var(--icon-margin-right)
  );
}

.select:hover,
.container.open .select {
  color: var(--edit-color-text-1);
}

.container.open .select {
  border-color: var(--edit-color-border-dark);
  background-color: var(--edit-color-background-1);
}

.container.open.dir--up .select {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container.open.dir--down .select {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container.readOnly .select {
  background-color: var(--edit-color-background-1);
  border: none;
  cursor: default;
}

.container.disabled .select {
  color: var(--edit-color-text-3);
  cursor: default;
}

.arrowIcon {
  margin-left: var(--icon-margin-left);
  margin-right: var(--icon-margin-right);
  transition: color var(--edit-transition-duration-standard),
    transform var(--edit-transition-duration-long);
  font-size: var(--icon-size);
  color: var(--edit-color-text-2);
  pointer-events: none;
}

.container.native .arrowIcon {
  position: absolute;
  right: var(--select-padding);
  top: calc((var(--height) - var(--icon-size)) / 2);
}

.container.readOnly .arrowIcon {
  display: none;
}

.container.disabled .arrowIcon {
  color: var(--edit-color-text-3);
}

.container:not(.disabled):hover .arrowIcon,
.container.open .select .arrowIcon {
  color: var(--edit-color-text-1);
}

.container.dir--up:not(.open) .arrowIcon,
.container.dir--down.open .arrowIcon {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  border-radius: var(--edit-radius-input);
  border: solid var(--edit-border-width-standard) var(--edit-color-border-dark);
  width: 100%;
  z-index: var(--edit-z-index-dropdown);
}

.shadowOptions {
  height: 0px;
  overflow: hidden;
}

.container.dir--up .options {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  bottom: 100%;
  border-bottom: none;
}

.container.dir--down .options {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  top: 100%;
  border-top: none;
}

.option {
  transition: all var(--edit-transition-duration-standard);
  background-color: var(--edit-color-background-1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: var(--edit-elem-height-medium);
  padding: 0 calc((var(--select-padding) + var(--icon-size) / 2));
  white-space: nowrap;
}

.container.inFieldComponent .option {
  justify-content: flex-start;
  padding: 0 var(--select-padding);
}

.container.disabled.multiple.native option {
  color: var(--edit-color-text-3);
}

.option:not(.disabledOption):hover {
  background-color: var(--edit-color-background-3);
}

.option.disabledOption {
  color: var(--edit-color-text-3);
  cursor: default;
}

.checkboxWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: var(--edit-margin-xxs);
}

.checkboxWrapper .label {
  margin-left: var(--edit-margin-xxs);
}

.checkboxWrapper.disabled {
  color: var(--edit-color-text-3);
}
