.container {
  position: relative;
}

.input {
  padding-right: 44px !important;
}

.picker {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
}

.calendar-icon {
  position: absolute;
  top: 8px;
  right: 8px;
}
