.container {
  width: 100%;
  line-height: 25px;
  font-size: 15px;
  padding: 25px;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  outline: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.show-preview {
  background-color: #fafafa;
  height: auto;
  max-height: 130px;
}

.image-thumb {
  height: auto;
  max-height: 110px;
  width: auto;
  max-width: 50%;
  margin-right: 10px;
  border-radius: 3px;
}

.reference-options {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.upload-options {
  display: flex;
  align-items: center;
}

.select-existing {
  margin: 20px auto;
}

.remove-existing {
  margin: 20px auto;
}
