.header {
  position: relative;
  z-index: 1000;
  color: var(--theme-colour-secondary, #ffffff);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
}

.masthead {
  padding: 13px 20px;
}

@media (--breakpoint-medium) {
  .masthead {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  height: 28px;
}

.controls {
  margin-top: 10px;
}

@media (--breakpoint-medium) {
  .controls {
    margin-top: 0;
  }
}

.signout {
  text-decoration: none;
  color: #4A596F;
  margin-right: 10px;
}

.signout:hover {
  color: var(--theme-colour-data, #4A91FF);
}

.user {
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-colour-system, #ffbf0d);
}

.user:hover {
  color: var(--theme-colour-system-shade-1, #d9a000);
}

.toggle {
  display: block;
  background-image: linear-gradient(to top, #020406, #17273F);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  text-align: left;
  width: 100%;
  outline: 0;
}

.toggle-icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.toggle-label {
  display: inline-block;
  vertical-align: middle;
}

.content {
  background-image: linear-gradient(-180deg, #020406 16%, #17273F 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.content-compact {
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.content-expanded {
  transform: none;
}
