.container {
  width: 100%;
  min-height: var(--theme-toolbar-height, 63px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #e4e4e4;
  box-shadow: 0 -5px 5px rgba(0,0,0,0.05);
  background-color: rgba(255,255,255,0.97);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: var(--theme-font-family, sans-serif);
  color: var(--theme-colour-primary, #000000);
  z-index: 1000;
}

@media (--breakpoint-medium) {
  .container {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e4e4e4;
  }
}

.container-padded {
  padding: 13px 25px;
}

.input {
  display: inline-block;
  height: 36px;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: #FFFFFF;
  padding: 5px 10px;
  appearance: none;
  outline: 0;
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.3s;
  font-size: 15px;  
}

.input:focus {
  box-shadow: 0 0 0 4px rgba(74, 145, 255, 0.1);
  border-color: #4a91ff;
  color: #404040;  
}
