.sub-nav-item {
  position: relative;
  display: inline-block;
  color: var(--theme-colour-primary, #000000);
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
  padding: 15px;
  border-radius: 5px;
}

.sub-nav-item + .sub-nav-item {
  margin-left: 5px;
}

.sub-nav-item:hover {
  background-color: rgba(228, 228, 228, 0.6);
  color: var(--theme-colour-primary, #000000);
}

.sub-nav-item-active {
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #ffffff);
}

.sub-nav-item-error {
  color: var(--theme-colour-error, #E5462C) !important;
}

.sub-nav-item-error:after {
  content: ' ';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--theme-colour-error, #E5462C);
}