.outer-wrapper {
  position: relative;
}

.link-modal {
  align-items: center;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 5px 3px;
  display: flex;
  line-height: 1.3;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-top: 5px;
  border: 1px solid #e4e4e4;
}

.link-modal:before {
  top: 100%;
  left: 110px;
  border: 8px solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: var(--theme-colour-background-shade-4,#e4e4e4);
}

.link-input {
  border: 0;
  padding-left: 8px;
  background: none;
  color: var(--theme-colour-primary, #000000);  
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
  outline: 0;
  width: 100%;  
}

.link-control {
  margin: 0 3px;
}

.wrapper:not(.wrapper-mode-text) .editor-wysiwyg {
  display: block;
}

.editor-wysiwyg * + * {
  margin-top: 20px;
}

.editor-wysiwyg a {
  color: var(--theme-colour-data, #3585f9);
  text-decoration: underline;
}

.editor-wysiwyg b,
.editor-wysiwyg strong {
  font-weight: bold;
}

.editor-wysiwyg em,
.editor-wysiwyg i {
  font-style: italic;
}

.editor-wysiwyg h1,
.editor-wysiwyg h2 {
  font-weight: bold;
  margin-bottom: 10px;  
}

.editor-wysiwyg h1 {
  font-size: 25px;
}

.editor-wysiwyg h2 {
  font-size: 18px;
}

.editor-wysiwyg blockquote {
  border-left: 3px solid #AAAAAA;
  color: #AAAAAA;
  padding-left: 10px;
}

.editor-wysiwyg ol {
  list-style-type: decimal;
  list-style-position: inside;  
}

.editor-wysiwyg ul {
  list-style-type: disc;
  list-style-position: inside;  
}

.code {
  font-family: monospace;
  font-size: 13px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch; 
  background: hsla(0,0%,4%,.05);
  padding: 10px;
  max-width: 100%;
}

.pell {
  border: 1px solid hsla(0,0%,4%,.1);
}

.pell,
.editor-wysiwyg {
  box-sizing: border-box;
}

.editor {
  /*height: calc(100vh - 185px);*/
  border: 0;
  background-color: var(--theme-colour-background, #FFFFFF);
  color: var(--theme-colour-primary, #000000);
  outline: 0;
  width: 100%;
}

.editor-wysiwyg {
  display: none;
  line-height: 1.3;
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-normal, 16px);
  overflow-y: auto;
}

.editor-text {
  font-family: monospace;
  font-size: 15px;
  resize: none;
  height: 800px;
}

.editor img {
  max-width: 100%;
  height: auto;
  display: block;
}

.pell-actionbar {
  font-size: 15px;
  margin: 5px -13px 10px;
  padding: 7px 4px 4px;
  border-bottom: 1px solid #eee;
  z-index: 1;
  position: sticky;
  top: 0;
  background: #fff;
  color: var(--theme-colour-primary, #000000);
}
.pell-actionbar:after {
  position: absolute;
  top: 100%;
  left: 0; right: 0;
  display: block;
  width: 100%;
  height: 5px;
  content: ' ';
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(0,0,0,0.03));
}

.pell-button {
  border-radius: 2px;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}
.pell-button:hover {
  background-color: #3585f9;
  color: #fff;
}

.wrapper-mode-text .pell-button:not([Title="Text"]) {
  opacity: 0.3;
  pointer-events: none;
}

.pell-button-selected,
.wrapper-mode-text .pell-button[Title="Text"] {
  background-color: #ccc;
}

.pell-button[Title="Text"] {
  width: auto;
  float: right;
}

.pell-button[Title="Bold"] {
  font-weight: bold;
}
.pell-button[Title="Italic"] {
  font-style: italic;
}
.pell-button[Title="Link"] {
  text-decoration: underline;
}
.pell-button sub {
  font-size: 10px;
  font-weight: bold;
}
.pell-button[Title="Quote"] span {
  font-size: 36px;
  line-height: 0;
  top: 16px;
  position: relative;
}