.container {
  line-height: 1.3;
  padding: 40px;
}

.action {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.action * + * {
  margin-left: 10px;
}

.message {
  font-size: var(--edit-font-size-large);
}
