/* Base button */
.button {
  display: inline-block;
  position: relative;
  background-color: #fff;
  color: var(--theme-colour-primary, #000000);
  line-height: 1.25;
  font-weight: bold;
  font-family: var(--theme-font-family, sans-serif);
  padding: 9px 16px;
  text-align: center;
  word-wrap: break-word;
  margin: 0;
  transition: background-color 0.1s;
  outline: none;
  cursor: pointer;
  border: 0;
  font-size: 15px;
  text-decoration: none;
  border-radius: 2px;
}

.button-mock {
  cursor: default;
  pointer-events: none;
}

.button-inherit {
  background-color: inherit;
  color: inherit;
}

.button-in-group-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-in-group-right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-in-group-middle {
  border-radius: 0;
}

/* Accent: system */
.button-system {
  background-color: var(--theme-colour-system, #ffbf0d);
  color: var(--theme-colour-primary, #000000);
}

.button-system:active,
.button-system:focus,
.button-system:hover {
  background-color: var(--theme-colour-system-shade-1, #d9a000);
  color: var(--theme-colour-system, #ffbf0d);
}

/* Accent: destruct */
.button-destruct {
  background-color: var(--theme-colour-error, #ffbf0d);
  color: var(--theme-colour-secondary, #FFFFFF);
}

.button-destruct:active,
.button-destruct:focus,
.button-destruct:hover {
  background-color: var(--theme-colour-error-shade-1, #d9a000);
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: save */
.button-save {
  background-color: var(--theme-colour-save, #88c24c);
  color: var(--theme-colour-secondary, #FFFFFF);
}

.button-save:active,
.button-save:focus,
.button-save:hover {
  background-color: var(--theme-colour-save-shade-1, #6ea338);
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: data */
.button-data {
  background-color: var(--theme-colour-data, #4A91FF);
  color: var(--theme-colour-secondary, #FFFFFF);
}

.button-data:active,
.button-data:focus,
.button-data:hover {
  background-color: var(--theme-colour-data-shade-1, #1772ff);
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Accent: neutral */
.button-neutral {
  background-color: var(--theme-colour-background, #FFFFFF);
  color: var(--theme-colour-primary, #000000);
}

.button-neutral:active,
.button-neutral:focus,
.button-neutral:hover {
  background-color: var(--theme-colour-data-shade-1, #1772ff);
  color: var(--theme-colour-secondary, #FFFFFF);
}

/* Disabled */
.button[disabled]:not(.button-inherit) {
  background-color: var(--theme-colour-background-shade-2, #AAAAAA) !important;
  color: var(--theme-colour-secondary, #FFFFFF) !important;
  cursor: not-allowed !important;
}