.header {
  position: relative;
  z-index: 1001;
  color: var(--theme-colour-secondary, #ffffff);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
}

.masthead {
  padding: 13px 20px;
}

@media (--breakpoint-medium) {
  .masthead {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  height: 28px;
  display: block;
}

.controls {
  margin-top: 10px;
}

@media (--breakpoint-medium) {
  .controls {
    margin: auto 0;
  }
}

.account {
  margin: 15px 20px;
  float: right;
}

.signout {
  text-decoration: none;
  color: #4A596F;
  margin-right: 8px;
  cursor: pointer;
}

.signout:hover {
  color: var(--theme-colour-data, #4A91FF);
}

.user {
  text-decoration: none;
  font-weight: bold;
  color: var(--theme-colour-system, #ffbf0d);
}

.user:hover {
  color: var(--theme-colour-system-shade-1, #d9a000);
}

.toggle {
  position: relative;
  display: block;
  background-image: linear-gradient(to top, #020406, #17273F);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  text-align: left;
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.toggle-icon {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
}

.toggle-label {
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
}

.content {
  background-image: linear-gradient(-180deg, #040609 50%, #0b131e 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.content-compact {
  position: fixed;
  width: 100%;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.inner-content-compact {
  max-height: 400px;
  overflow: auto;
}

.content-expanded {
  transform: none;
}
