.header {
  position: relative;
  z-index: 1001;
  color: var(--theme-colour-secondary, #ffffff);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
}

.masthead {
  padding: 13px 20px;
}

@media (--breakpoint-medium) {
  .masthead {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  padding: 10px 15px 11px 20px;
  display: inline-block;
  vertical-align: middle;
}
.logo img {
  height: 24px;
  display: block;
  vertical-align: middle;
}

@media (--breakpoint-medium) {
  .account {
    float: right;
    margin-right: 10px;
  }
}

.signout,
.user {
  text-decoration: none;
  color: #4A596F;
  cursor: pointer;
  display: block;
  padding: 6px 10px;
}

.user {
  color: #fff;
}

.user:hover {
  color: var(--theme-colour-system-shade-1, #d9a000);
}

.toggle {
  position: relative;
  display: block;
  background-image: linear-gradient(to top, #020406, #17273F);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 16px 20px;
  text-align: left;
  width: 100%;
  outline: 0;
  cursor: pointer;
}

.content {
  background-image: linear-gradient(-180deg, #040609 50%, #0b131e 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  max-height: 45px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.2s;
}

.content-expanded {
  max-height: 100vh;
}

@media (--breakpoint-medium) {
  .content {
    overflow: visible;
  }
}

.controls {
  padding: 10px;
}
@media (--breakpoint-medium) {
  .controls {
    position: absolute;
    background: #000;
    top: 100%;
    right: 10px;
    margin-top: 10px;
    box-shadow: 7px 6px 25px rgba(0, 0, 0, 0.3);
    width: 170px;
    border-radius: 3px;
  }
}

.toggle-icon {
  float: right;
  padding: 12px 12px 12px 12px;
  cursor: pointer;
  display: block;
}
.toggle-icon:hover {
  background: #232931;
}

.icon-open,
.icon-close {
  background-position: 50%;
  background-image: url('/public/images/icon-burger.svg');
  background-size: auto 100%;
  font-size: 0;
  width: 21px; height: 21px;
  display: block;
}
.icon-close {
  background-image: url('/public/images/icon-close.svg');
}
