.container {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.03);
  border-radius: 3px;
  padding: 30px 13px 10px;
  font-family: var(--theme-font-family, sans-serif);
  font-size: var(--theme-font-size-small, 13px);
  color: var(--theme-colour-primary-shade-1, #FAFAFA);
  display: block;
}

.container-compact {
  display: flex;
  align-items: center;
  padding: 8px 13px;
  cursor: pointer;
}

.container-compact.container-with-comment {
  padding: 15px 80px 15px 13px;
}

.container-error {
  background-color: #fef8f8;
  box-shadow: 2px 2px 10px 0 rgba(255, 46, 46, 0.23);
  border-color: #E5462C;
}

.container-error-message {
  border-top-left-radius: 0;
}

.container-compact .label {
  font-size: 15px;
  margin-left: 10px;
}

.container-compact:hover .label {
  color: var(--theme-colour-primary,#000)
}

.container:not(.container-compact) .label {
  position: absolute;
  top: 13px;
  left: 14px;
  font-weight: 700;
}

.comment {
  position: absolute;
  top: 13px;
  right: 14px;
}

.container-compact .comment {
  top: 50%;
  transform: translateY(-50%);
}

.error-message {
  display: inline-block;
  background-color: #E5462C;
  color: #FFFFFF;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 3px 3px 0 0;
  position: absolute;
  top: -23px;
  left: -1px;
}
