.information {
  align-items: center;
}

@media (--breakpoint-large) {
  .information {
    display: flex;
  }
}

.count-label {
  width: 100%;
}

.count-label-prefix {
  display: none;
}

@media (--breakpoint-large) {
  .count-label {
    width: auto;
  }

  .count-label-prefix {
    display: inline;
  }
}

.section {
  display: flex;
  align-items: center;
  text-align: center;
}

.section-pagination {
  justify-content: space-between;
  margin-top: 10px;
}

@media (--breakpoint-large) {
  .section-pagination {
    margin-top: 0;
  }
}

.page-input {
  width: 6em;
  text-align: center;
}

.page-input-simple {
  display: none;
}

@media (--breakpoint-large) {
  .page-input-simple {
    display: block;
  }

  .page-input-extended {
    display: none;
  }
}

.selection-counter {
  padding-left: 8px;
  visibility: hidden;
}

.selection-counter-visible {
  visibility: visible;
}

.selection-counter-button {
  border-bottom: 1px solid #eee;
  cursor: pointer;
  outline: 0;
  padding: 0 1px;
}

.selection-counter:hover .selection-counter-button {
  border-bottom-color: var(--theme-colour-data, #4A91FF);
}