.value-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--theme-colour-background-shade-1, #fafafa);
  border: 1px solid var(--theme-colour-background-shade-4, #e4e4e4);
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  margin: 3px 0;
}

.list-value-container {
  display: flex;
}

.values {
  flex-basis: auto;
  min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/ */
}

.buttons {
  display: flex;
}

.value {
  color: var(--theme-colour-primary, #000000);
  font-family: var(--theme-font-family, sans-serif);
  font-size: 15px;
  padding-top: 2px;
}

.value,
.list-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.empty {
  color: var(--theme-colour-background-shade-2, #aaaaaa);
}

.value-link {
  display: block;
  border-bottom: 1px solid var(--theme-colour-background-shade-4, #e4e4e4);
  margin-top: 5px;
  margin-right: 23px;
  position: relative;
}

.value-link:first-of-type {
  margin-top: 0;
}

.value-link:after {
  background: url(/_public/images/icon-arrow-right.svg);
  content: ' ';
  width: 13px;
  height: auto;
  background-position: 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 100%;
  margin-left: 5px;
  position: absolute;
}

.value-link:hover {
  border-bottom-color: var(--theme-colour-data, #4a91ff);
}

.placeholder {
  padding: 5px 0 3px;
  text-align: center;
}

.placeholder a {
  width: 100%;
}

.control-button {
  margin-left: 5px;
}

.list-head-annotation {
  background: rgba(0, 0, 0, 0.2);
  color: #000000;
  font-size: 10px;
  font-family: var(--theme-font-family, sans-serif);
  padding: 2px 4px;
  display: inline-block;
  border-radius: 2px;
  margin-left: 0px;
  vertical-align: middle;
}
