.metadata {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  font-size: 13px;
  line-height: 1.3;
  color: var(--theme-colour-primary-shade-1, #777777);
}

@media (--breakpoint-medium) {
  .metadata {
    display: flex;
  }
}

@media (min-width: 800px) {
  .metadata {
    flex-grow: 100;
    text-align: center;
  }
}

.metadata-emphasis {
  color: var(--theme-colour-primary, #000000);
}

.peers {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 1px solid #e4e4e4;
  height: 100%;
  padding: 13px 20px;
}

@media (min-width: 800px) {
  .peers {
    display: block;
  }
}

.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.button {
  display: inline-block;
  margin-left: 5px;
}
